<div class="page-template-default page page-id-10 logged-in admin-bar wp-embed-responsive
theme-emprise woocommerce-account woocommerce-page woocommerce-js no-sidebar
elementor-default elementor-kit-1876 customize-support">
    <article id="post-10"
        class="rlr-article post-10 page type-page status-publish hentry">
        <header class="entry-header">
            <h1 class="entry-title">My account</h1>
        </header><!-- .entry-header -->
        <div class="entry-content">
            <div class="woocommerce">
                <nav class="woocommerce-MyAccount-navigation">
                    <ul>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
                            <a
                                href="https://railar.net/staging/my-account/">Dashboard</a>
                        </li>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                            <a
                                href="https://railar.net/staging/my-account/orders/">Orders</a>
                        </li>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
                            <a
                                href="https://railar.net/staging/my-account/downloads/">Downloads</a>
                        </li>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                            <a
                                href="https://railar.net/staging/my-account/edit-address/">Addresses</a>
                        </li>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                            <a
                                href="https://railar.net/staging/my-account/edit-account/">Account
                                details</a>
                        </li>
                        <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout">
                            <a
                                href="https://railar.net/staging/my-account/customer-logout/?_wpnonce=e21211646e">Logout</a>
                        </li>
                    </ul>
                </nav>
                <div class="woocommerce-MyAccount-content">
                    <div class="woocommerce-notices-wrapper"></div>
                    <p> Hello <strong>railar</strong> (not
                        <strong>railar</strong>? <a
                            href="https://railar.net/staging/my-account/customer-logout/?_wpnonce=e21211646e">Log
                            out</a>)</p>
                    <p> From your account dashboard you can view your <a
                            href="https://railar.net/staging/my-account/orders/">recent
                            orders</a>, manage your <a
                            href="https://railar.net/staging/my-account/edit-address/">shipping
                            and billing addresses</a>, and <a
                            href="https://railar.net/staging/my-account/edit-account/">edit
                            your password and account details</a>.</p>
                </div>
            </div>
        </div><!-- .entry-content -->
        <footer class="entry-footer">
            <span class="edit-link"><a class="post-edit-link"
                    href="https://railar.net/staging/wp-admin/post.php?post=10&amp;action=edit&amp;lang=en">Edit
                    <span class="screen-reader-text">My
                        account</span></a></span>
        </footer><!-- .entry-footer -->
    </article>
</div>