<div class="rlr-product-detail-header" id="{{id}}">
    <div class="rlr-product-detail-header__contents">
        {{render '@breadcrumb'}}
        {{> '@typography--heading-h1' modifier="rlr-section__heading--main rlr-product-detail-header__title" tagname="h1" copyText="London to Ancient Rome Short Weekend Tour"}}
        {{> '@reviewstar--count-reviews'}}
    </div>
    <div class="rlr-product-detail-header__actions">
        {{render "@popover"}}
        {{render "@wishlist"}}
    </div>
</div>