<div class="listings">
    <div class="row">
        <div class="col-xl-6 d-flex">
            <a class="postcard" href="#">
                <img src="../../assets/images/blog-list-item-01.jpg"
                    class="postcard__thumbnail" />
                <div class="postcard__summary">
                    <span class="postcard__author">Phoenix Baker | 19 Jan
                        2022</span>
                    <h3 class="postcard__title">Mountain Hiking Tour</h3>
                    <p>Like to know the secrets of transforming a 2-14 team into
                        a 3x Super Bowl winning Dynasty?</p>
                    <ul class="postcard__tags">
                        <li>Travel</li>
                        <li>Mountain</li>
                        <li>Road Trip</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-xl-6 d-flex">
            <a class="postcard" href="#">
                <img src="../../assets/images/blog-list-item-02.jpg"
                    class="postcard__thumbnail" />
                <div class="postcard__summary">
                    <span class="postcard__author">Phoenix Baker | 19 Jan
                        2022</span>
                    <h3 class="postcard__title">Mountain Hiking Tour</h3>
                    <p>Like to know the secrets of transforming a 2-14 team into
                        a 3x Super Bowl winning Dynasty?</p>
                    <ul class="postcard__tags">
                        <li>Travel</li>
                        <li>Mountain</li>
                        <li>Road Trip</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-xl-6 d-flex">
            <a class="postcard" href="#">
                <img src="../../assets/images/blog-list-item-01.jpg"
                    class="postcard__thumbnail" />
                <div class="postcard__summary">
                    <span class="postcard__author">Phoenix Baker | 19 Jan
                        2022</span>
                    <h3 class="postcard__title">Mountain Hiking Tour</h3>
                    <p>Like to know the secrets of transforming a 2-14 team into
                        a 3x Super Bowl winning Dynasty?</p>
                    <ul class="postcard__tags">
                        <li>Travel</li>
                        <li>Mountain</li>
                        <li>Road Trip</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-xl-6 d-flex">
            <a class="postcard" href="#">
                <img src="../../assets/images/blog-list-item-02.jpg"
                    class="postcard__thumbnail" />
                <div class="postcard__summary">
                    <span class="postcard__author">Phoenix Baker | 19 Jan
                        2022</span>
                    <h3 class="postcard__title">Mountain Hiking Tour</h3>
                    <p>Like to know the secrets of transforming a 2-14 team into
                        a 3x Super Bowl winning Dynasty?</p>
                    <ul class="postcard__tags">
                        <li>Travel</li>
                        <li>Mountain</li>
                        <li>Road Trip</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>