<!-- Header banner -->
<section class="rlr-section">
    {{> "@cta--no-button" modifier="no-button" title="Contact us" subTitle="Git in touch via phone, email or fill in the form below" }}
</section>
<!-- Main content -->
<section class="rlr-section rlr-section__mt">
    <div class="container">
        <div class="row justify-content-around">
            <!-- Contact form -->
            <div class="col-xl-offset-1 col-xxl-5 col-lg-5">
                {{> "@contact-form"}}
            </div>
            <!-- Contact Details -->
            <div
                class="col-xl-offset-1 col-xxxl-offset-1 col-xxl-4 col-lg-5 mt-5 mt-lg-0">
                {{> "@contact-details"}}
            </div>
        </div>
    </div>
</section>