<section class="rlr-section rlr-section__my">
    {{> '@section-heading--light-brand' copyText="Badge - Rating" }}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {{> '@badge' badgeLabel="4.9" modifier="rating"}}
        </div>
    </div>
</section>
<section class="rlr-section rlr-section__my">
    {{> '@section-heading--light-brand' copyText="Badge - Sale" }}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {{> '@badge' badgeLabel="25%" modifier="sale"}}
        </div>
    </div>
</section>