<section class="rlr-section rlr-section__my">
    {{> '@section-heading--light-brand' copyText="Avatar - Default" }}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {{> '@avatar' src="../../assets/images/avatar_01.png" name="Brooklyn Simmons"}}
        </div>
    </div>
</section>