<section class="rlr-section rlr-section__my">
    {{> '@section-heading--light-brand' copyText="Breadcrumb - Default" }}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {{> '@breadcrumb'}}
        </div>
    </div>
</section>