<header class="container-xxxl">
    {{> "@navigation" navID="navigation" modifier="fixed-top"}}
</header>
<section class="row">
    <div>
        {{> "@banner"}}
        {{> "@banner-search" bannerModifier="rlr-header-layout__search-layout"}}
    </div>
</section>