<header class="rlr-header-layout__navigation--fullwidth container-xxxl">
    {{> "@navigation" navID="navigation" modifier="fixed-top"}}
</header>
<div class="rlr-header-layout container-fluid rlr-header-layout--fullwidth">
    {{> "@banner--fullwidth"}}
    {{> "@banner-search" bannerModifier="rlr-header-layout__search-layout"}}
</div>