<!-- Header banner -->
<section class="rlr-section">
    {{> "@cta--no-button" modifier="no-button" title="Icon Fonts" subTitle="Copy and paste the icon name to use" }}
</section>
<div class="rlr-icon-font-page rlr-section rlr-section__mt">
    <div class="container">
        {{render "@icon-fonts--all"}}
    </div>
</div>