<div class="rlr-progress">
  <ul class="rlr-progress__steps js-progress-bar-slider" role="tablist">
      {{> "@step" classes="js-step-1" state="active" stepTitle="Product Detail" isFirst="isFirst" icon='<svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="56" height="56" rx="28" fill="#28B0A6"></rect>
  <path
    d="M38.653 13h-1.607v1.492a.56.56 0 0 1-.558.56.557.557 0 0 1-.558-.56V13H19.343v1.492a.56.56 0 0 1-.558.56.557.557 0 0 1-.558-.56V13H16.62a2.63 2.63 0 0 0-1.857.782 2.647 2.647 0 0 0-.763 1.87v24.724a2.626 2.626 0 0 0 .766 1.859A2.612 2.612 0 0 0 16.62 43h22.033a2.605 2.605 0 0 0 2.422-1.618c.131-.319.198-.66.198-1.005V15.651a2.647 2.647 0 0 0-.764-1.87A2.63 2.63 0 0 0 38.654 13zM23.705 35.085l-3.503 3.36a.557.557 0 0 1-.78-.009l-1.905-1.911a.56.56 0 0 1 .608-.913c.068.028.13.069.181.12l1.52 1.525 3.108-2.982a.557.557 0 0 1 .944.418.561.561 0 0 1-.173.392zm0-8-3.503 3.36a.557.557 0 0 1-.78-.009l-1.905-1.911a.561.561 0 0 1 .395-.956c.148 0 .29.059.394.164l1.52 1.524 3.108-2.982a.557.557 0 0 1 .944.418.561.561 0 0 1-.173.392zm0-8-3.503 3.36a.557.557 0 0 1-.78-.009l-1.905-1.911a.56.56 0 0 1 .608-.913c.068.028.13.069.181.12l1.52 1.525 3.108-2.982a.557.557 0 0 1 .944.418.561.561 0 0 1-.173.392zM37.362 36.92H28.19a.557.557 0 0 1-.558-.56.56.56 0 0 1 .558-.56h9.17a.558.558 0 0 1 .559.56.561.561 0 0 1-.559.56zm0-8H28.19a.557.557 0 0 1-.558-.56.56.56 0 0 1 .558-.56h9.17a.558.558 0 0 1 .559.56.561.561 0 0 1-.559.56zm0-8H28.19a.557.557 0 0 1-.558-.56.56.56 0 0 1 .558-.56h9.17a.558.558 0 0 1 .559.56.561.561 0 0 1-.559.56z"
    fill="#fff"
  ></path>
</svg>'}}
          {{> "@step" classes="js-step-2" state="inactive" stepTitle="Location & Itinerary" isFirst="isFirst" icon='<svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
  <rect width="56" height="56" rx="28" fill="#546179"></rect>
  <path
    d="M28.716 36.876h-5.882a.98.98 0 0 0 0 1.96h5.882a2.941 2.941 0 0 0 0-5.881h-1.96a.98.98 0 0 1 0-1.96h5.88a.98.98 0 0 0 0-1.961h-5.88a2.941 2.941 0 0 0 0 5.881h1.96a.98.98 0 0 1 0 1.96zM36.558 27.318a1.49 1.49 0 0 0-2.98 0c0 .824 1.49 2.696 1.49 2.696s1.49-1.872 1.49-2.696zM22.423 34.454a1.49 1.49 0 0 0-2.98 0c0 .824 1.49 2.686 1.49 2.686s1.49-1.862 1.49-2.686z"
    fill="#fff"
  ></path>
  <path
    d="M28 7.886C16.898 7.9 7.902 16.894 7.89 27.995c1.105 26.677 39.118 26.67 40.218 0C48.096 16.895 39.1 7.899 28 7.886zM40.742 38.22a2.937 2.937 0 0 1-2.933 2.94H18.197a2.937 2.937 0 0 1-2.941-2.932V23.505h25.487v14.714zm0-16.68H15.256v-1.911a2.95 2.95 0 0 1 2.94-2.94h2.942v-.981a.98.98 0 0 1 1.96 0v.98h3.921v-.98a.98.98 0 0 1 1.96 0v.98h3.922v-.98a.98.98 0 0 1 1.96 0v.98h2.941a2.95 2.95 0 0 1 2.941 2.941v1.912z"
    fill="#fff"
  ></path>
</svg>'}}
          {{> "@step" classes="js-step-3" state="inactive" stepTitle="Dates & Prices" isFirst="isFirst" icon='<svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="56" rx="28" fill="#546179"></rect>
        <path
          d="M41.008 12c-.035 0-.07.002-.104.004-.205.017-4.777.437-6.495 3.769l-6.204-.63a4.98 4.98 0 0 0-4.042 1.438L13.459 27.244a5.003 5.003 0 0 0 .001 7.064l8.21 8.212A5.036 5.036 0 0 0 25.24 44c1.27 0 2.538-.48 3.502-1.443a1.249 1.249 0 1 0-1.767-1.767c-.966.964-2.552.947-3.536-.037l-8.21-8.212a2.5 2.5 0 0 1-.003-3.529L25.93 18.349a2.492 2.492 0 0 1 2.022-.72l9.513.966.123 1.215a13.213 13.213 0 0 1-3.419.75 1.25 1.25 0 0 0 .133 2.496c.08-.005 1.68-.096 3.547-.693l.581 5.711a2.488 2.488 0 0 1-.717 2.018l-6.099 6.006a1.25 1.25 0 1 0 1.755 1.78l6.102-6.01.006-.005a4.976 4.976 0 0 0 1.44-4.042l-.663-6.512c.841-.492 1.55-1.071 2.117-1.732C43.453 18.315 44 16.788 44 15.041v-.05A2.995 2.995 0 0 0 41.008 12zm.492 3.041c0 1.397-.505 2.53-1.535 3.426l-.117-1.139a1.25 1.25 0 0 0-1.117-1.116l-1.45-.148c1.28-1.22 3.394-1.519 3.772-1.563.25.023.447.234.447.49v.05zM31.368 30.305a1.25 1.25 0 0 1-1.767-1.767.523.523 0 0 0 .154-.394.69.69 0 0 0-.21-.466l-.766-.766a1.034 1.034 0 0 0-.719-.312.944.944 0 0 0-.693.288l-.198.197c-.407.407-.422 1.08-.032 1.47l.81.809a3.52 3.52 0 0 1 1.044 2.465c.01.939-.353 1.824-1.021 2.491l-.092.092a3.409 3.409 0 0 1-2.422 1.013 3.511 3.511 0 0 1-2.13-.729l-.523.505a1.246 1.246 0 0 1-1.768-.032 1.249 1.249 0 0 1 .033-1.766l.468-.452a3.129 3.129 0 0 1-.841-2.06c-.018-.833.3-1.618.894-2.212a1.251 1.251 0 0 1 1.768 1.767.52.52 0 0 0-.162.39c.003.16.074.318.2.444l1.317 1.316c.413.412 1.014.433 1.398.05l.092-.093a.967.967 0 0 0 .288-.698 1.037 1.037 0 0 0-.311-.724l-.81-.81c-1.372-1.37-1.357-3.614.032-5.003l.198-.197a3.442 3.442 0 0 1 2.45-1.02h.038a3.493 3.493 0 0 1 1.79.515l.536-.554A1.25 1.25 0 0 1 32.21 25.8l-.53.548c.356.506.557 1.102.575 1.723a3.003 3.003 0 0 1-.886 2.234z"
          fill="#fff"
        ></path>
      </svg>'}}
      {{> "@step" state="inactive" classes="js-step-4" stepTitle="FAQ's" isFirst="isFirst" icon='<svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="56" height="56" rx="28" fill="#546179"/>
          <path d="M28 47a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5zM28 12c-5.376 0-9.75 4.374-9.75 9.75v.938h7.5v-.938c0-1.24 1.01-2.25 2.25-2.25s2.25 1.01 2.25 2.25a2.25 2.25 0 0 1-.796 1.717L24.25 27.89v6.734h7.5v-3.266l2.561-2.177a9.737 9.737 0 0 0 3.439-7.432c0-5.376-4.374-9.75-9.75-9.75z" fill="#fff"/>
      </svg>
      '}}
      {{> "@step" state="inactive" classes="js-step-5" stepTitle="Preview & Publish" isFirst="isFirst" icon='<svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="56" height="56" rx="28" fill="#546179"/>
            <path d="M24.253 39.954a1.63 1.63 0 0 1-2.31 0l-9.225-9.226a2.45 2.45 0 0 1 0-3.466l1.155-1.155a2.45 2.45 0 0 1 3.466 0l5.76 5.76L38.66 16.303a2.45 2.45 0 0 1 3.466 0l1.155 1.156a2.45 2.45 0 0 1 0 3.465l-19.029 19.03z" fill="#fff"/>
        </svg>
      '}}
  </ul>
</div>
