<div class="row rlr-featured__cards">
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-offset="250"
        data-aos-duration="700">
        {{> '@product-card--featured' productImgSrc="../../assets/images/product-images/small/featured-thumb-01.jpg"}}
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-offset="300"
        data-aos-duration="725">
        {{> '@product-card--featured' productImgSrc="../../assets/images/product-images/small/featured-thumb-02.jpg"}}
    </div>
    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-offset="350"
        data-aos-duration="750">
        {{> '@product-card--featured' productImgSrc="../../assets/images/product-images/small/featured-thumb-03.jpg"}}
    </div>
</div>