<div class="rlr-about-hero__content">
    <img class="rlr-about-hero__bg"
        src="../../assets/images/about-hero-3.jpg" alt="..." />
    <div class="rlr-about-hero__content-inner">
        {{> '@typography--type-d1' modifier='type-d1 rlr-about-hero__title' tagname='h1 ' copyText="About Us" }}
        <div class="rlr-about-hero__cards">
            <div class="rlr-about-hero-card" data-aos="fade-up"
                data-aos-offset="250"
                data-aos-duration="700">
                {{> '@typography--heading-h5' modifier='type-h5-semibold rlr-about-hero-card__title' tagname='h5' copyText="What started the emprise venture?" }}
                {{> '@typography--type-lead' modifier='type-lead rlr-about-hero-card__desc' tagname='p' copyText="It is a long established fact that a reader will be distracted by the readable content." }}
            </div>
            <div class="rlr-about-hero-card" data-aos="fade-up"
                data-aos-offset="250"
                data-aos-duration="700">
                {{> '@typography--heading-h5' modifier='type-h5-semibold rlr-about-hero-card__title' tagname='h5' copyText="What started the emprise venture?" }}
                {{> '@typography--type-lead' modifier='type-lead rlr-about-hero-card__desc' tagname='p' copyText="It is a long established fact that a reader will be distracted by the readable content." }}
            </div>
            <div class="rlr-about-hero-card" data-aos="fade-up"
                data-aos-offset="250"
                data-aos-duration="700">
                {{> '@typography--heading-h5' modifier='type-h5-semibold rlr-about-hero-card__title' tagname='h5' copyText="What started the emprise venture?" }}
                {{> '@typography--type-lead' modifier='type-lead rlr-about-hero-card__desc' tagname='p' copyText="It is a long established fact that a reader will be distracted by the readable content." }}
            </div>
        </div>
    </div>
</div>