<div class="rlr-section__content--lg-top">
    <section class="rlr-section rlr-section__mt rlr-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    {{> "@account--forgot-password"}}
                </div>
            </div>
        </div>
    </section>
</div>