<!-- visual/banner of the page -->
<section class="rlr-page-banner">
    <div class="rlr-page-banner__inner rlr-page-banner__inner--image-bg">
        <div class="container-xxxl">
            <div class="rlr-page-banner__text">
                {{> '@section-heading--page-banner' copyText="Page Banner"}}
                {{> '@breadcrumb' }}
            </div>
        </div>
    </div>
</section>