<section class="rlr-features rlr-features--v2">
    <div class="container-xxl">
        <div class="rlr-features__header">
            <div class="rlr-features__header-text">
                {{> '@typography--type-body-semibold' modifier="type-body-semibold rlr-features__subtitle" tagname="p" copyText="Item Icludes"}}
                {{> '@typography--heading-h2-bold' modifier="type-h2-medium rlr-features__title" tagname="h2" copyText="What do you get with Emprise"}}
                {{> '@typography--heading-h6' modifier="type-h6 " tagname="h6" copyText="Start with the template as exactly shown in the demo including fonts, images and everything to ."}}
            </div>
        </div>
        <div class="rlr-features__body row row-cols-lg-2 ">
            <ul class="rlr-features__body-text">
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Everything shown in the demo to get started"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Figma and XD design files from Themeforst"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="An all-in-one customer service platform that helps you balance everything your customers need to be happy."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Modern dev tools & documentation to customize"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data in a couple clicks."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="rlr-features__body-img">
                <div>
                    <img src="../../assets/images/features-section-2.png"
                        alt="...">
                </div>
            </div>
        </div>
    </div>
</section>