<section class="rlr-features">
    <div class="container-xxl">
        <div class="rlr-features__header">
            <div class="rlr-features__header-text">
                {{> '@typography--type-body-semibold' modifier="type-body-semibold rlr-features__subtitle" tagname="p" copyText="Main Features"}}
                {{> '@typography--heading-h2-bold' modifier="type-h2-medium rlr-features__title" tagname="h2" copyText="Make travel sites for your end users.."}}
                {{> '@typography--heading-h6' modifier="type-h6 " tagname="h6" copyText="Emprise includes custom design options that are unique to the industry, such as
                eye-catching tour listings, full itinerary creation form and detaild tour page."}}
            </div>
            <div class="rlr-features__header-btns">
                {{> "@button--anchor" tagName="a" size="large" shape="rounded"
                                            btnBgColor="brand" ahref="home-page" target="_blank" buttonText="Main Demo"}}
            </div>
        </div>
        <div class="rlr-features__body row">
            <div class="col-sm-12 col-lg-6">
                <ul class="rlr-features__body-text">
                    <li class="rlr-features__text-item">
                        <span class="rlr-features__list-icon">
                            {{> '@icon-fonts' tagName="i" iconClass="flaticon-seen" }}
                        </span>
                        <div class="text">
                            {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Create custom user flows"}}
                            {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="It's all about user journeys and how you guide visitors to their intended goals, and we have crafted just the perfect flow for your users."}}
                        </div>
                    </li>
                    <li class="rlr-features__text-item">
                        <span class="rlr-features__list-icon">
                            {{> '@icon-fonts' tagName="i" iconClass="flaticon-seen" }}
                        </span>
                        <div class="text">
                            {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Add tour itineraries"}}
                            {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="Tour operators need their col-sm-12 col-lg-6leagues/guides to add tour without hassles of the backend, that's why you will love our frontend form."}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <ul class="rlr-features__body-text">
                    <li class="rlr-features__text-item">
                        <span class="rlr-features__list-icon">
                            {{> '@icon-fonts' tagName="i" iconClass="flaticon-seen" }}
                        </span>
                        <div class="text">
                            {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Reiterate without hassles"}}
                            {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="Emprise comes with blocks that allows you to just pick and chose the section and rearrange layouts or even create new blocks in seconds."}}
                        </div>
                    </li>
                    <li class="rlr-features__text-item">
                        <span class="rlr-features__list-icon">
                            {{> '@icon-fonts' tagName="i" iconClass="flaticon-seen" }}
                        </span>
                        <div class="text">
                            {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Get everything in one place"}}
                            {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="From search and list to most detailed tour page, checkout to order received page and galleries to about or contact, all you need for rock solid travel site."}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>