<section class="rlr-features">
    <div class="container-xxl">
        <div class="rlr-features__header">
            <div class="rlr-features__header-text">
                {{> '@typography--type-body-semibold' modifier="type-body-semibold rlr-features__subtitle" tagname="p" copyText="Main Features"}}
                {{> '@typography--heading-h2-bold' modifier="type-h2-medium rlr-features__title" tagname="h2" copyText="What will you do with emprise?"}}
                {{> '@typography--heading-h6' modifier="type-h6 " tagname="h6" copyText="Emprise includes custom design options that are unique to the industry, such as
                eye-catching tour listings, full itinerary creation form and detaild tour page."}}
            </div>
            <div class="rlr-features__header-btns">
                <button type="button"
                    class="rlr-button rlr-button--secondary-outline-with-icon">
                    <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right" }}</span>
                    Demo
                </button>
                <button type="button"
                    class="btn rlr-button  rlr-button--medium rlr-button__outline--warning rlr-button--warning  rlr-button--border--warning">
                    Buy Now
                </button>
            </div>
        </div>
        <div class="rlr-features__body row row-cols-lg-2 ">
            <ul class="rlr-features__body-text">
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Create user experiences that crushes competition"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="It's all about user journeys and how you guide visitors to their intended goals,
                        and we have crafted just the perfect flow for you to start with."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Add & customize tour itineraries using frontend form"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="You need your colleagues or guides to add tour without playing pingpong with the
                        backend, that's why you will love our frontend form."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
                <li class="rlr-features__text-item">
                    <span class="rlr-features__list-icon">
                        {{> '@icon-fonts' tagName="i" iconClass="flaticon-email" }}
                    </span>
                    <div class="text">
                        {{> '@typography--heading-h6-medium' modifier="type-h6-medium " tagname="h6" copyText="Show detailed itinerary with images, maps and videos"}}
                        {{> '@typography--type-body' modifier="type-body rlr-features__list-desc " tagname="p" copyText="If your visitor don't see enough details to make informed decision and purchase,
                        they will search elsewhere. So try and compare our itinerary page."}}
                        <a class="rlr-features__link" href="#">
                            {{> '@typography--type-body-medium' modifier="type-body-medium " tagname="span" copyText="Learn more"}}
                            <span>{{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="rlr-features__body-img">
                <img src="../../assets/images/features-section-1.png"
                    alt="...">
            </div>
        </div>
    </div>
</section>