<section class="rlr-support container">
    {{> '@section-heading' copyText="Still have a question?"}}
    <div class="row">
        <div class="col-lg-6">
            {{> '@support--default' modifier='sale' title='Help & Support' svgIcon="../../assets/svg/headset.svg"  }}
        </div>
        <div class="col-lg-6">
            {{> '@support--help' modifier='help' title='Help & Support' svgIcon="../../assets/svg/help-circle.svg"  }}
        </div>
    </div>
</section>