<div class="rlr-masonary-grid__container">
    <div class="rlr-masonary-grid__one">
        {{> '@destination-card' modifier="right" badgeLabel="200+"
        srcset='../../assets/images/dest/01@2x.jpg 2x'
        src='../../assets/images/dest/01.jpg'
        cardTitle="Berlin"
                cardSubtitle="366 KM away"}}
    </div>
    <div class="rlr-masonary-grid__two">
        {{> '@destination-card' modifier="right" badgeLabel="320 Tours"
                srcset='../../assets/images/dest/02@2x.jpg 2x'
                src='../../assets/images/dest/02.jpg' cardTitle="Zurich"
                cardSubtitle="577 KM away"}}
    </div>
    <div class="rlr-masonary-grid__three">
        {{> '@destination-card' modifier="right" badgeLabel="58 Tours"
                srcset='../../assets/images/dest/03@2x.jpg 2x'
                src='../../assets/images/dest/03.jpg'
                cardTitle="New York"
                cardSubtitle="327 KM away"}}
    </div>
    <div class="rlr-masonary-grid__four">
        {{> '@destination-card' modifier="right" badgeLabel="406 Tours"
                srcset='../../assets/images/dest/04@2x.jpg 2x'
                src='../../assets/images/dest/04.jpg'
                cardTitle="London"
                cardSubtitle="271 KM away"}}
    </div>
    <div class="rlr-masonary-grid__five">
        {{> '@destination-card' modifier="right" badgeLabel="37 Tours"
                srcset='../../assets/images/dest/05@2x.jpg 2x'
                src='../../assets/images/dest/05.jpg'
                cardTitle="Aagra"
                cardSubtitle="780 KM away"}}
    </div>
    <div class="rlr-masonary-grid__six">
        {{> '@destination-card' modifier="right" badgeLabel="74 Tours"
                srcset='../../assets/images/dest/06@2x.jpg 2x'
                src='../../assets/images/dest/06.jpg'
                cardTitle="Paris"
                cardSubtitle="872 KM away"}}
    </div>
</div>