.rlr-action-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%);

  &__custom {
    @extend %type-body-medium;

    display: flex;
    align-items: center;
    background: var(--white);
    color: var(--body-color);
  }

  &__icon {
    margin-right: var(--spacing-5);
  }
}
