<div class="rlr-overview-detail__icon-group">
    <span class="rlr-overview-detail__label">{{label}}</span>
    <div class="rlr-overview-detail__icons">
        {{> "@icon-text" tagName="figure" innerTagName="span" }}
    </div>
</div>