<div class="rlr-overview-detail">
    {{> '@read-more-description' modifier="rlr-overview-detail__description" content="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam itaque voluptate cumque soluta, fuga fugiat eos excepturi, sit qui, cum ducimus recusandae. Minima cupiditate perspiciatis deleniti tenetur ducimus, nesciunt iste.
Soluta dolorum reiciendis cum earum asperiores nam pariatur tempore sequi excepturi eius et similique illo error, provident accusamus illum harum enim impedit natus dolore architecto. Quam earum harum obcaecati porro?
Quod sequi, voluptate cupiditate vero ut assumenda odit fuga expedita tempora iure minus! Omnis veritatis provident fugit esse explicabo ut cupiditate possimus? Dicta eligendi assumenda, harum non ipsa sunt asperiores?"}}
    <div class="rlr-overview-detail__icon-groupset">
        {{> '@overview-detail--icongroup' label="Duration" tagName="figure" innerTagName="span" iconText="2 Days" iconClass="flaticon-three-o-clock-clock"}}
        {{> '@overview-detail--icongroup' label="Activity" tagName="figure" innerTagName="span" iconText="Beach" iconClass="flaticon-beach"}}
        {{> '@overview-detail--icongroup' label="Physical" tagName="figure" innerTagName="span" iconText="Luxury" iconClass="flaticon-icecream-cone"}}
        {{> '@overview-detail--icongroup' label="Group Size" tagName="figure" innerTagName="span" iconText="8" iconClass="flaticon-add-user"}}
        {{> '@overview-detail--icongroup' label="Age" tagName="figure" innerTagName="span" iconText="7+" iconClass="flaticon-carbon-tall-man"}}
        {{> '@overview-detail--icongroup' label="Location" tagName="figure" innerTagName="span" iconText="Rome, Italy" iconClass="flaticon-map-marker"}}
    </div>
</div>