<!-- Footer menu -->
<div class="rlr-footer__menu">
    <nav class="rlr-footer__menu__col">
        <!-- Footer menu col -->
        <h4>Services</h4>
        <ul>
            <li><a href="#">Budget Tours</a></li>
            <li><a href="#">Expert Insight</a></li>
            <li><a href="#">Independent</a></li>
            <li><a href="#">Luxury Tours</a></li>
            <li><a href="#">Safety Tips</a></li>
            <li><a href="#">Tips n Tricks</a></li>
        </ul>
    </nav>
    <nav class="rlr-footer__menu__col">
        <!-- Footer menu col -->
        <h4>Adventures</h4>
        <ul>
            <li><a href="#">Beach Activity</a></li>
            <li><a href="#">Bungee Jump</a></li>
            <li><a href="#">City Tour</a></li>
            <li><a href="#">Hiking Trips</a></li>
            <li><a href="#">Jungle Safari</a></li>
            <li><a href="#">Night City Walk</a></li>
        </ul>
    </nav>
    <nav class="rlr-footer__menu__col">
        <!-- Footer menu col -->
        <h4>Country</h4>
        <ul>
            <li><a href="#">USA</a></li>
            <li><a href="#">Australia</a></li>
            <li><a href="#">South Africa</a></li>
            <li><a href="#">West Indies</a></li>
            <li><a href="#">New Zealand</a></li>
            <li><a href="#">Srilanka</a></li>
        </ul>
    </nav>
    <!-- Subscribe -->
    <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
        <h4>Get In Touch</h4>
        <a href="#" class="rlr-footer__menu__col__letstalk">Let’s Talk</a>
        {{render '@subscribe'}}
    </nav>
</div>