<footer class="rlr-footer">
    <div class="container">
        {{> '@footer--quicklinks'}}
        {{> '@footer--getintouch'}}
        {{> '@footer--menu'}}
        {{> '@footer--legal'}}
    </div>
</footer>