<!-- Footer quick links -->
<div class="rlr-footer__quicklinks">
    <div class="rlr-footer__quicklinks__col">
        <a href="#" class="rlr-footer__quicklinks--title">QUICK LINKS</a>
        <a href="#" class="rlr-footer__quicklinks--expore">Explore more
            categories</a>
    </div>
    <div class="rlr-footer__quicklinks__col">
        <a href="#">0123-456-324-54</a>
        <span class="separate">|</span>
        <a href="#">hello@emprise.tours</a>
    </div>
</div>