<div class="rlr-footer__getintouch">
    <div class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title">
        <h4>Get in travel</h4>
        <p>Adventures Calling You Guys!</p>
    </div>
    <div
        class="rlr-footer__getintouch_col rlr-footer__getintouch__col--address">
        <h4>Our Offices</h4>
        <a href="#">Nepal, USA, India</a>
    </div>
</div>