<footer class="rlr-footer rlr-section rlr-section__mt">
    <div class="container">
        {{!-- {{> '@footer--quicklinks'}} --}}
        {{> '@footer--getintouch'}}
        {{> '@footer--menu'}}
        {{> '@footer--legal'}}
    </div>
</footer>