<div id="rlr-review-from"
    class="container-xxxl">
    <section
        class="rlr-section rlr-section__content--md-top row justify-content-center">
        <div class="col-xl-5">
            {{> '@review-form'}}
        </div>
    </section>
</div>