.rlr-team-card {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }

  $self: &;

  &__thumb {
    position: relative;
    width: 40%;
    margin-right: var(--spacing-8);

    @media (max-width: 768px) {
      width: 80%;

      // max-width: 300px;
      margin: 0 0 20px;
    }

    img {
      overflow: hidden;
      width: 100%;
      border-radius: var(--spacing-7);
    }

    .rlr-slide-count {
      @extend %type-h6;

      position: absolute;
      bottom: 0;
      left: 0;
      width: 4.5rem;
      height: 4.5rem;
      background: var(--white);
      border-radius: 0 1.25rem;
      color: var(--heading-color);
      line-height: 4.5rem;
      text-align: center;

      @media (max-width: 768px) {
        @include font-size(1.125rem);

        width: 3rem;
        height: 3rem;
        line-height: 3rem;
      }
    }
  }

  &__summary {
    flex: 1;

    #{$self}__designation {
      @extend %type-lead;

      margin-bottom: var(--spacing-5);
      color: var(--brand);

      @media (max-width: 991px) {
        margin-bottom: 5px;
      }
    }

    #{$self}__name {
      @extend %type-h2;

      color: var(--heading-color);
    }

    #{$self}__about-row {
      display: flex;
      flex-wrap: wrap;
      margin: 100px 0 120px;

      @media (max-width: 1200px) {
        margin: 50px 0;
      }

      @media (max-width: 991px) {
        margin: 20px 0;
      }

      #{$self}__aboutbox {
        @extend %type-body;

        width: 50%;
        padding: 0 15px 15px 0;
        color: var(--body-color);

        @media (max-width: 991px) {
          width: 100%;
          padding: 0 0 5px;
        }

        h4 {
          @extend %type-h6-medium;
        }
      }
    }

    #{$self}__sociallinks {
      @extend %type-lead;

      display: flex;
      padding: 0;
      margin: 0;

      @media (max-width: 991px) {
        font-size: 15px;
      }

      li {
        display: inline-block;
        padding: 0;
        margin: 0 30px 0 0;
        list-style: none;

        a {
          color: var(--black);
          text-decoration: none;
          transition: all 0.4s;

          &:hover {
            color: var(--brand);
          }
        }
      }
    }
  }

  &--v2 {
    display: block;
    margin-bottom: var(--spacing-8);
    text-align: center;

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }

    #{$self}__thumb {
      width: 100%;
      margin: 0 0 var(--spacing-8);

      img {
        max-width: 15rem;
        margin: 0;
        border-radius: 50%;
      }
    }
    #{$self}__title {
      > a {
        @extend %type-h6-semi-bold;

        margin-bottom: 6px;
        text-decoration: none;

        &:hover {
          color: var(--brand);
        }
      }
    }
    #{$self}__subtitle {
      @extend %type-lead;

      margin-bottom: 7px;
      color: var(--gray-10);
    }
    #{$self}__desc {
      @extend %type-lead;

      margin-bottom: 0;
      color: var(--gray-05);
    }
  }
}

.rlr-break::before {
  content: "\A";
  white-space: pre;
}
