<div class="rlr-authforms">
    <div class="rlr-authforms__header">
        <img src="../../assets/images/logos/Logomark.svg" alt="Logo" />
        <h2>Forgot password?</h2>
        <p>No worries, we’ll send you reset instructions.</p>
    </div>
    <div class="rlr-authforms__form">
        <div class="rlr-authforms__inputgroup">
            {{> "@form-label" formLabel="Email" type="light" labelModifier="required"}}
            {{> "@input" modifiers="form-control--light" inputType="text" autocomplete="off" class="form-control"
                                            placeholder="Enter your email" }}
        </div>
        <button type="button"
            class="btn rlr-button rlr-button--fullwidth rlr-button--primary">Reset
            password</button>
    </div>
    <div class="rlr-authforms__back">
        <a href="{{path './account-pages--login' }}"><img
                src="../../assets/images/back-arrow.png"
                alt="back arrow">
            Back to log in</a>
    </div>
</div>