<div class="accordion rlr-accordion">
  <div class="accordion-item rlr-accordion__item">
    <div class="accordion-header rlr-accordion__header"
      id="rlr-faq-collapse-header1">
      <button class="accordion-button rlr-accordion__button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#rlr-faq-collapse1"
        aria-expanded="true"
        aria-controls="rlr-faq-collapse1">
        <span class="rlr-accordion__badge">?</span> What type of clothing are
        suitable for this trek? </button>
    </div>
    <div id="rlr-faq-collapse1"
      class="accordion-collapse collapse show"
      aria-labelledby="rlr-faq-collapse-header1">
      <div class="accordion-body rlr-accordion__body">
        {{> "@read-more-description" content="What is Lorem Ipsum? Lorem Ipsum is simply
        dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged. It
        was popularised in the 1960s with the release of Letraset sheets
        containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem
        Ipsum"}}
      </div>
    </div>
  </div>
  <div class="accordion-item rlr-accordion__item">
    <div class="accordion-header rlr-accordion__header"
      id="rlr-faq-collapse-header2">
      <button class="accordion-button rlr-accordion__button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#rlr-faq-collapse2"
        aria-expanded="false"
        aria-controls="rlr-faq-collapse2">
        <span class="rlr-accordion__badge">?</span> What type of clothing are
        suitable for this trek? </button>
    </div>
    <div id="rlr-faq-collapse2"
      class="accordion-collapse collapse"
      aria-labelledby="rlr-faq-collapse-header2">
      <div class="accordion-body rlr-accordion__body"> {{> "@read-more-description" content="What is Lorem Ipsum? Lorem Ipsum is simply
        dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged. It
        was popularised in the 1960s with the release of Letraset sheets
        containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem
        Ipsum"}}</div>
    </div>
  </div>
  <div class="accordion-item rlr-accordion__item">
    <div class="accordion-header rlr-accordion__header"
      id="rlr-faq-collapse-header3">
      <button class="accordion-button rlr-accordion__button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#rlr-faq-collapse3"
        aria-expanded="false"
        aria-controls="rlr-faq-collapse3">
        <span class="rlr-accordion__badge">?</span> What type of clothing are
        suitable for this trek? </button>
    </div>
    <div id="rlr-faq-collapse3"
      class="accordion-collapse collapse"
      aria-labelledby="rlr-faq-collapse-header3">
      <div class="accordion-body rlr-accordion__body"> {{> "@read-more-description" content="What is Lorem Ipsum? Lorem Ipsum is simply
        dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged. It
        was popularised in the 1960s with the release of Letraset sheets
        containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem
        Ipsum"}} </div>
    </div>
  </div>
</div>