.rlr-page-title {
  display: grid;
  grid-column-gap: var(--spacing-7);
  grid-template-columns: 5.25rem auto;

  &__icon {
    @include gridChildCenter;

    height: 5.25rem;
    background-color: var(--brand-02);
    border-radius: 0.25rem;
    color: var(--brand);
    font-size: 3rem;

    i {
      @include gridChildCenter;
    }
  }

  &__title {
    @extend %type-h1;

    margin-bottom: 0;
    color: var(--brand);
    font-weight: 600;
    letter-spacing: 0;
  }

  &__desc {
    @extend %type-lead;

    margin-bottom: var(--spacing-2);
  }
}
