<div class="rlr-page-header rlr-page-header__bg">
    <div class="container">
        {{render '@breadcrumb'}}
        {{> '@typography--type-d1' copyText="News & Blog" tagname="h1" modifier="type-d1 rlr-page-header__title"  }}
    </div>
</div>
<div class="container">
    <div class="row rlr-search-results-page__product-details">
        <div class="rlr-search-results-page__product-list">
            <div class="row rlr-search-results-page__card-wrapper">
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="MT. Everest trekking theme" postImgSrc="../../assets/images/blog/blog-listing01.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Annapurna himal blog posts" postImgSrc="../../assets/images/blog/blog-listing02.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Best seasons to travel 2022" postImgSrc="../../assets/images/blog/blog-listing03.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Cultural highlights in Nepal" postImgSrc="../../assets/images/blog/blog-listing04.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="MT. Everest trekking theme" postImgSrc="../../assets/images/blog/blog-listing05.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Annapurna himal blog posts" postImgSrc="../../assets/images/blog/blog-listing06.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Cultural highlights round" postImgSrc="../../assets/images/blog/blog-listing07.jpg"}}
                </div>
                <div class="col-md-6">
                    {{> '@blog-card' postTitle="Cultural highlights round" postImgSrc="../../assets/images/blog/blog-listing08.jpg"}}
                </div>
            </div>
            <hr class="rlr-search-results-page__divider">
            {{> "@pagination--list-page"}}
        </div>
    </div>
</div>