<header class="rlr-header-banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 rlr-header-banner__text-container">
        <div class="rlr-header-banner__text">
          {{> '@typography--type-body-medium' modifier="type-body-medium rlr-header__subtitle text-center" tagname="p" copyText="— Highly customizable, fast and uniquely travel oriented."}}
          <h1 class="type-d2 rlr-header-banner__title text-center">Accelerate
            <span
              class="rlr-super-text">travel
            </span> website design with all components you need.
            <a class="animated-underline" target="_blank"
              href="{{path './home-page' }}">
              <span class="animated-underline__line"> <img
                  src="../../assets/svg/under-line.svg"
                  alt="underline"></span>
              <span class="animated-underline__text"> Try now </span>
              <span class="animated-underline__arrow">
                {{> '@icon-fonts' tagName="i" iconClass="flaticon-right-arrows" }}</span>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>