<div class="rlr-secondary-menu-desc" data-id="{{data-id}}">
    <!-- Icon -->
    <div class="rlr-secondary-menu-desc__icon">{{{icon}}}</div>
    <!-- Overview -->
    <div class="rlr-secondary-menu-desc__details">{{content}}</div>
</div>