<section class="rlr-metrics">
    <div class="container-xxl">
        <div class="rlr-metrics__header">
            <div class="rlr-metrics__header-text">
                {{> '@typography--heading-h2-bold' modifier="type-h2-medium rlr-metrics__title" tagname="h2" copyText="Verified, valid and trusted"}}
                {{> '@typography--heading-h6' modifier="type-h6 " tagname="h6" copyText="We are trusted by thousands of customer for their template needs...."}}
            </div>
            <div class="rlr-metrics__header-btns">
                {{> "@button--anchor" tagName="a" size="large" shape="rounded"
                                                            btnBgColor="brand" ahref="https://themeforest.net/item/emprise-ui-tours-travel-and-adventure-template/37260042" buttonText="More details"}}
            </div>
        </div>
        <div class="rlr-metrics__items">
            <div class="rlr-metrics__item">
                {{> '@typography--heading-h1' modifier="type-h1 rlr-metrics__item-title" tagname="h3" copyText="30+"}}
                {{> '@typography--type-lead-medium' modifier="type-lead-medium rlr-metrics__item-subtitle" tagname="p" copyText="Prebuilt HTML Templates"}}
                {{> '@typography--type-body' modifier="type-body" tagname="p" copyText="Your item download includes all the HTML designs shown in the demo."}}
            </div>
            <div class="rlr-metrics__item">
                {{> '@typography--heading-h1' modifier="type-h1 rlr-metrics__item-title" tagname="h3" copyText="60+"}}
                {{> '@typography--type-lead-medium' modifier="type-lead-medium rlr-metrics__item-subtitle" tagname="p" copyText="Components and Layouts"}}
                {{> '@typography--type-body' modifier="type-body" tagname="p" copyText="All components are organized with SCSS/JS for reiterating your page design."}}
            </div>
            <div class="rlr-metrics__item">
                {{> '@typography--heading-h1' modifier="type-h1 rlr-metrics__item-title" tagname="h3" copyText="12+"}}
                {{> '@typography--type-lead-medium' modifier="type-lead-medium rlr-metrics__item-subtitle" tagname="p" copyText="Years on envato"}}
                {{> '@typography--type-body' modifier="type-body" tagname="p" copyText="Elite author with travel themes featured on Envato marketplace."}}
            </div>
            <div class="rlr-metrics__item">
                {{> '@typography--heading-h1' modifier="type-h1 rlr-metrics__item-title" tagname="h3" copyText="100+"}}
                {{> '@typography--type-lead-medium' modifier="type-lead-medium rlr-metrics__item-subtitle" tagname="p" copyText="5-star reviews"}}
                {{> '@typography--type-body' modifier="type-body" tagname="p" copyText="We’re proud of our 5-star rating with over 200 customer reviews."}}
            </div>
        </div>
    </div>
</section>