<div class='rlr-page-header'>
  <div class='container-xxl'>
    {{> '@typography--heading-h1' modifier="type-h1 rlr-page-header__title" tagname="h1"}}
    {{> '@typography--type-sub-title' modifier="type-sub-title rlr-page-header__subtitle" tagname="h6" copyText="Simple one page checkout with emprise and woocommerce."}}
  </div>
</div>