<form class="rlr-booking-card ph-item">
    <div class="ph-col-12">
        <div class="row rlr-booking-card__placeholder-row">
            <div class="col-8 rlr-booking-card__empty">
                <div
                    class="col-4 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
                </div>
                <div
                    class="col-8 rlr-booking-card__empty rlr-booking-card__placeholder-row--item">
                </div>
                <div
                    class="col-5 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
                </div>
                <div
                    class="col-7 rlr-booking-card__empty rlr-booking-card__placeholder-row--item">
                </div>
                <div
                    class="col-11 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
                </div>
            </div>
            <div class="ph-col-2 rlr-booking-card__empty"></div>
            <div
                class="ph-col-1 ph-avatar rlr-booking-card__placeholder-row--item">
            </div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-3 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-9 rlr-booking-card__empty"></div>
            <div
                class="col-4 rlr-booking-card__big rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-8 rlr-booking-card__big rlr-booking-card__empty">
            </div>
            <div
                class="col-7 rlr-booking-card__small rlr-booking-card__placeholder-row--item">
            </div>
            <div class="col-5 rlr-booking-card__empty"></div>
        </div>
        <div class="row rlr-booking-card__placeholder-row">
            <div
                class="col-12 rlr-booking-card__big rlr-booking-card__placeholder-row--item rlr-booking-card__placeholder-row--button">
            </div>
        </div>
    </div>
</form>