<section class="rlr-icon-font-page rlr-section rlr-section__content--md-top">
    <div class="container">
        {{> '@section-heading--single-button' copyText="Travel gallery" buttonText="View tours"}}
        {{render "@lightbox--gallery"}}
    </div>
</section>