<div class="rlr-logos-slider">
    <div class="rlr-logos-slider__items">
        <div class="slide-track">
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/trivago.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/tripadvisor.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/expedia.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/tailormade.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/all-inclusive.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/radisson.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/disneyland.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/national-geographic.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/lonelyplanet.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/tailormade.png" }}
            {{> "@logos-slider" productImgSrc1="../../assets/images/logos/trivago.png" }}
        </div>
    </div>
</div>