<div class="rlr-logos-slider">
    <div class="rlr-logos-slider__items">
        <div class="slide-track">
            <div class="slide">
                <img data-src="../../assets/images/logos/trivago.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/tripadvisor.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/expedia.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/tailormade.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/all-inclusive.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/radisson.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/disneyland.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/national-geographic.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/lonelyplanet.png"
                    alt="..." />
            </div>
            <div class="slide">
                <img data-src="../../assets/images/logos/tailormade.png"
                    alt="..." />
            </div>
        </div>
    </div>
</div>