<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="figma" viewBox="0 0 512 512">
        <title>figma</title>
        <path
            d="m256.599 256c0-47.128 38.205-85.333 85.333-85.333 47.128 0 85.333 38.206 85.333 85.333 0 47.129-38.206 85.333-85.333 85.333-47.129 0-85.333-38.205-85.333-85.333z"
            fill="#00bcff" />
        <path
            d="m85.932 426.667c0-47.128 38.205-85.333 85.333-85.333l45.475-24.009 39.858 24.009v85.333c0 47.129-38.205 85.333-85.333 85.333-47.128 0-85.333-38.205-85.333-85.333z"
            fill="#00cf7f" />
        <path
            d="m256.599 0-46.434 80.67 46.434 89.996h84.136c47.129 0 85.333-38.205 85.333-85.333 0-47.128-38.205-85.333-85.333-85.333z"
            fill="#ff7361" />
        <path
            d="m84.734 85.333c0 47.128 38.205 85.333 85.333 85.333l45.267 17.484 41.263-17.484v-170.666h-86.531c-47.127 0-85.332 38.205-85.332 85.333z"
            fill="#ff4d12" />
        <path
            d="m85.932 256c0 47.129 38.205 85.333 85.333 85.333h85.333v-170.667h-85.333c-47.128 0-85.333 38.206-85.333 85.334z"
            fill="#b659ff" />
    </symbol>
    <symbol id="xd" viewBox="0 0 512.014 512.014">
        <title>xd</title>
        <g id="Surfaces_9_1">
            <g id="UI_UX_Surface">
                <g id="Outline_no_shadow_9_">
                    <path
                        d="m90.669 6.4h330.676c50.075 0 90.669 40.594 90.669 90.669v317.876c0 50.075-40.594 90.669-90.669 90.669h-330.676c-50.075 0-90.669-40.594-90.669-90.669v-317.876c0-50.075 40.594-90.669 90.669-90.669z"
                        fill="#470137" />
                </g>
            </g>
        </g>
        <g id="Outlined_Mnemonics_Logos_8_">
            <g id="Xd" fill="#ff61f6">
                <path
                    d="m269.164 137.686-63.887 105.447 68.352 111.973c.438.783.561 1.705.344 2.576-.231.805-1.03.298-2.404.524h-48.773c-3.436 0-5.84-.121-7.214-2.413-4.583-8.93-9.163-17.803-13.739-26.619-4.583-8.813-9.449-17.801-14.597-26.963-5.152-9.155-10.247-18.429-15.285-27.822h-.344c-4.583 9.161-9.335 18.321-14.255 27.478-4.926 9.161-9.792 18.263-14.597 27.306-4.809 9.048-9.732 18.036-14.769 26.963-.918 2.061-2.523 2.273-4.81 2.273h-47.056c-.913 0-1.428.361-1.546-.556-.129-.838.054-1.693.516-2.404l66.29-108.882-64.573-109.225c-.687-.912-.801-1.656-.344-2.232.514-.594 1.278-.912 2.062-.859h48.429c1.056-.058 2.112.118 3.092.516.821.465 1.526 1.111 2.061 1.889 4.122 9.161 8.702 18.32 13.739 27.478 5.035 9.161 10.129 18.206 15.285 27.135 5.152 8.93 9.904 17.975 14.255 27.135h.344c4.577-9.387 9.214-18.546 13.911-27.478 4.691-8.93 9.499-17.918 14.425-26.963 4.922-9.043 9.674-18.031 14.255-26.963.263-.848.736-1.615 1.374-2.232.848-.43 1.801-.609 2.748-.516h44.995c1.055-.26 2.122.384 2.383 1.439.18.737-.079 1.514-.667 1.995z" />
                <path
                    d="m367.737 362.663c-15.809.24-31.474-3.045-45.854-9.618-13.396-6.2-24.595-16.321-32.114-29.024-7.788-12.934-11.68-29.135-11.678-48.602-.129-15.764 3.899-31.284 11.678-44.996 8.013-13.966 19.798-25.394 34.004-32.974 14.882-8.243 32.857-12.365 53.926-12.365 1.143 0 2.631.057 4.465.172 1.83.118 4.006.289 6.526.515v-67.665c0-1.599.688-2.404 2.062-2.404h43.277c.996-.142 1.919.55 2.061 1.546.024.171.024.344 0 .515v202.995c0 3.896.172 8.133.515 12.709.344 4.583.63 8.705.859 12.365.086 1.46-.732 2.824-2.062 3.435-11.165 4.656-22.794 8.111-34.69 10.304-10.878 2.008-21.913 3.042-32.975 3.092zm20.952-42.591v-93.769c-1.856-.503-3.752-.848-5.667-1.031-2.34-.235-4.69-.35-7.042-.343-8.335-.083-16.572 1.8-24.043 5.495-7.277 3.617-13.49 9.061-18.032 15.8-4.696 6.869-7.043 15.914-7.042 27.135-.167 7.487 1.056 14.941 3.606 21.982 2.076 5.674 5.357 10.83 9.618 15.113 4.079 3.941 9.017 6.88 14.425 8.587 5.713 1.85 11.684 2.777 17.689 2.747 3.204 0 6.181-.115 8.93-.343 2.562-.192 5.094-.653 7.558-1.373z" />
            </g>
        </g>
    </symbol>
    <symbol id="html-5" viewBox="0 0 512 512">
        <title>html-5</title>
        <path
            d="m108.4 0h23v22.8h21.2v-22.8h23v69h-23v-23h-21v23h-23.2zm97.6 23h-20.3v-23h63.7v23h-20.4v46h-23zm53.5-23h24.1l14.8 24.3 14.8-24.3h24.1v69h-23v-34.2l-16.1 24.8-16.1-24.8v34.2h-22.6zm89.2 0h23v46.2h32.6v22.8h-55.6z" />
        <path d="m107.6 471-33-370.4h362.8l-33 370.2-148.7 41.2"
            fill="#ff4c1e" />
        <path d="m256 480.5v-349.5h148.3l-28.3 316z" fill="#ff651e" />
        <path
            d="m142 176.3h114l16.951 22.7-16.951 22.7h-64.2l4.2 46.5h60l16.951 23.549-16.951 21.751h-101.6zm14.4 160h45.6l3.2 36.3 50.8 13.6 19.127 22.66-19.127 24.74-93.2-26z"
            fill="#ebebeb" />
        <path
            d="m369.6 176.3h-113.8v45.4h109.6zm-8.3 91.9h-105.5v45.4h56l-5.3 59-50.7 13.6v47.2l93-25.8z"
            fill="#fff" />
    </symbol>
    <symbol id="js" viewBox="0 0 512 512">
        <title>js</title>
        <path d="m0 0h512v512h-512z" fill="#ffdf00" />
        <path
            d="m343.934 400.002c10.313 16.839 23.731 29.216 47.462 29.216 19.935 0 32.67-9.964 32.67-23.731 0-16.498-13.084-22.341-35.027-31.939l-12.028-5.161c-34.719-14.791-57.783-33.321-57.783-72.493 0-36.084 27.494-63.553 70.461-63.553 30.59 0 52.582 10.646 68.429 38.522l-37.465 24.056c-8.249-14.791-17.148-20.618-30.964-20.618-14.092 0-23.024 8.94-23.024 20.618 0 14.434 8.94 20.277 29.582 29.217l12.028 5.152c40.879 17.53 63.959 35.401 63.959 75.581 0 43.317-34.028 67.048-79.726 67.048-44.682 0-73.549-21.293-87.674-49.201zm-169.96 4.169c7.558 13.41 14.434 24.747 30.964 24.747 15.807 0 25.779-6.185 25.779-30.232v-163.597h48.112v164.246c0 49.818-29.208 72.493-71.843 72.493-38.522 0-60.83-19.936-72.176-43.947z" />
    </symbol>
    <symbol id="elementor" viewBox="0 0 512 512">
        <title>elementor</title>
        <path
            d="m256.061 0c-141.385-.034-256.027 114.554-256.061 255.939s114.554 256.027 255.939 256.061 256.027-114.554 256.061-255.939c0-.02 0-.041 0-.061 0-141.361-114.578-255.966-255.939-256z"
            fill="#ab003a" />
        <g fill="#ff7ce8">
            <path d="m149.364 149.303h42.667v213.333h-42.667z" />
            <path d="m234.697 319.97h128v42.667h-128z" />
            <path d="m234.697 234.636h128v42.667h-128z" />
            <path d="m234.697 149.303h128v42.667h-128z" />
        </g>
    </symbol>
    <symbol id="wordpress" viewBox="0 0 512 512">
        <title>wordpress</title>
        <path
            d="M256,15.36c32.493,0,64.006,6.36,93.663,18.904c56.977,24.099,103.98,71.112,128.073,128.072 c12.544,29.657,18.904,61.17,18.904,93.663s-6.36,64.006-18.904,93.663c-23.815,56.304-71.465,104.13-128.073,128.073 C320.006,490.28,288.493,496.64,256,496.64s-64.006-6.36-93.663-18.904C106.055,453.93,58.202,406.258,34.264,349.663 C21.72,320.006,15.36,288.493,15.36,256s6.36-64.006,18.904-93.663c24.099-56.977,71.112-103.98,128.073-128.072 C191.994,21.72,223.507,15.36,256,15.36 M256,0C114.615,0,0,114.615,0,256c0,141.385,114.615,256,256,256s256-114.615,256-256 C512,114.615,397.385,0,256,0L256,0z" />
        <path
            d="M42.667,255.992c0,84.438,49.068,157.415,120.238,191.991L61.139,169.173C49.302,195.702,42.667,225.063,42.667,255.992z M400.018,245.233c0-26.373-9.473-44.627-17.587-58.833c-10.815-17.581-20.956-32.455-20.956-50.035 c0-19.607,14.869-37.861,35.825-37.861c0.947,0,1.843,0.114,2.762,0.173C362.107,63.9,311.539,42.667,256,42.667 c-74.534,0-140.1,38.243-178.246,96.152c5.009,0.159,9.729,0.259,13.73,0.259c22.309,0,56.858-2.712,56.858-2.712 c11.494-0.673,12.853,16.222,1.364,17.58c0,0-11.561,1.354-24.414,2.027l77.683,231.078l46.692-140.014l-33.235-91.064 c-11.494-0.673-22.376-2.027-22.376-2.027c-11.5-0.679-10.152-18.254,1.353-17.58c0,0,35.223,2.712,56.184,2.712 c22.309,0,56.864-2.712,56.864-2.712c11.5-0.673,12.853,16.222,1.359,17.58c0,0-11.572,1.354-24.414,2.027L362.5,385.291 l22.008-69.736C394.286,285.079,400.018,263.487,400.018,245.233z M259.748,274.652l-64.018,185.988 c19.118,5.625,39.331,8.693,60.27,8.693c24.843,0,48.675-4.288,70.847-12.095c-0.571-0.913-1.097-1.882-1.531-2.94L259.748,274.652 z M443.207,153.65c0.916,6.794,1.434,14.083,1.434,21.935c0,21.64-4.055,45.975-16.228,76.408l-65.156,188.389 c63.424-36.976,106.076-105.688,106.076-184.39C469.333,218.902,459.855,184.033,443.207,153.65z" />
    </symbol>
    <symbol id="wordpress-1" viewBox="0 0 496.016 496.016">
        <title>wordpress-1</title>
        <g>
            <path style="fill:#1C769B;"
                d="M0.008,248c0,98.16,57.04,183,139.768,223.184L21.472,147.072C7.728,177.904,0.008,212.04,0.008,248 z" />
            <path style="fill:#1C769B;"
                d="M252.36,269.688l-74.416,216.224c22.232,6.536,45.712,10.104,70.064,10.104 c28.872,0,56.576-4.992,82.352-14.056c-0.656-1.072-1.272-2.184-1.768-3.416L252.36,269.688z" />
            <path style="fill:#1C769B;"
                d="M415.432,235.496c0-30.664-11.024-51.88-20.448-68.392c-12.584-20.456-24.376-37.752-24.376-58.168 c0-22.808,17.288-44.032,41.648-44.032c1.104,0,2.144,0.152,3.2,0.208C371.368,24.68,312.568,0,248.008,0 c-86.656,0-162.864,44.456-207.2,111.776c5.824,0.184,11.304,0.304,15.952,0.304c25.928,0,66.104-3.152,66.104-3.152 c13.36-0.8,14.928,18.856,1.568,20.424c0,0-13.432,1.584-28.384,2.376l90.312,268.616l54.28-162.768l-38.616-105.848 c-13.376-0.792-26.032-2.376-26.032-2.376c-13.36-0.792-11.8-21.216,1.584-20.424c0,0,40.952,3.152,65.32,3.152 c25.936,0,66.096-3.152,66.096-3.152c13.376-0.8,14.944,18.856,1.576,20.424c0,0-13.448,1.584-28.376,2.376l89.624,266.576 l24.76-82.648C407.256,281.336,415.432,256.712,415.432,235.496z" />
            <path style="fill:#1C769B;"
                d="M467.312,154.52c0,25.16-4.704,53.448-18.872,88.832l-75.744,219 c73.728-42.976,123.312-122.864,123.312-214.344c0-43.128-11.016-83.664-30.376-118.992 C466.712,136.92,467.312,145.384,467.312,154.52z" />
        </g>
        <path style="fill:#2795B7;"
            d="M370.616,108.928c0-22.808,17.288-44.032,41.648-44.032c1.104,0,2.144,0.152,3.2,0.208 C371.368,24.68,312.568,0,248.008,0c-86.656,0-162.864,44.456-207.2,111.776c5.824,0.184,11.304,0.304,15.952,0.304 c25.928,0,66.104-3.152,66.104-3.152c13.36-0.8,14.928,18.856,1.568,20.424c0,0-13.432,1.584-28.384,2.376l34.44,102.432 c23.432,8.272,48.816,12.824,75.328,12.824c11.032,0,21.872-0.792,32.472-2.304l2.36-7.096l-38.616-105.848 C188.656,130.944,176,129.36,176,129.36c-13.36-0.792-11.8-21.216,1.584-20.424c0,0,40.952,3.152,65.32,3.152 c25.936,0,66.096-3.152,66.096-3.152c13.376-0.8,14.944,18.856,1.576,20.424c0,0-13.448,1.584-28.376,2.376l29.84,88.768 c30.288-16.288,55.952-39.288,74.664-66.88C377.688,138.656,370.616,124.72,370.616,108.928z" />
        <path style="fill:#3FB5D1;"
            d="M248.008,0c-77.816,0-147.128,35.92-192.6,91.984c39.912,8.296,83.744,12.896,129.744,12.896 c87.104,0,166.464-16.456,226.136-43.448C367.672,23.216,310.56,0,248.008,0z" />
    </symbol>
    <symbol id="xd-1" viewBox="0 0 512.01 512.01">
        <title>xd-1</title>
        <path
            d="M421.35,6.4H90.67C40.59,6.4,0,46.99,0,97.07v317.88c0,50.07,40.59,90.66,90.67,90.66h330.68 c50.07,0,90.66-40.59,90.66-90.66V97.07C512.01,46.99,471.42,6.4,421.35,6.4z M273.97,357.68c-0.23,0.81-1.03,0.3-2.4,0.53 h-48.78c-3.43,0-5.83-0.13-7.21-2.42c-4.58-8.93-9.16-17.8-13.74-26.62c-4.58-8.81-9.45-17.8-14.59-26.96 c-5.16-9.15-10.25-18.43-15.29-27.82h-0.34c-4.59,9.16-9.34,18.32-14.26,27.48c-4.92,9.16-9.79,18.26-14.6,27.3 c-4.8,9.05-9.73,18.04-14.76,26.97c-0.92,2.06-2.53,2.27-4.81,2.27H76.13c-0.91,0-1.43,0.36-1.55-0.56 c-0.12-0.83,0.06-1.69,0.52-2.4l66.29-108.88L76.82,137.34c-0.69-0.91-0.8-1.65-0.35-2.23c0.52-0.59,1.28-0.91,2.06-0.86h48.43 c1.06-0.06,2.12,0.12,3.1,0.52c0.82,0.46,1.52,1.11,2.06,1.89c4.12,9.16,8.7,18.32,13.74,27.47 c5.03,9.16,10.12,18.21,15.28,27.14c5.15,8.93,9.9,17.97,14.25,27.13h0.35c4.58-9.38,9.21-18.54,13.91-27.47 c4.69-8.94,9.5-17.92,14.42-26.97c4.93-9.04,9.68-18.03,14.26-26.96c0.26-0.85,0.74-1.62,1.37-2.23 c0.85-0.43,1.8-0.61,2.75-0.52h45c1.05-0.26,2.12,0.39,2.38,1.44c0.18,0.74-0.08,1.521-0.67,2l-63.88,105.44l68.35,111.98 C274.07,355.89,274.19,356.81,273.97,357.68z M435.4,349.27c-11.16,4.65-22.79,8.11-34.69,10.3 c-10.88,2.01-21.91,3.04-32.97,3.09c-15.81,0.24-31.48-3.04-45.86-9.61c-13.39-6.2-24.59-16.33-32.11-29.03 c-7.79-12.93-11.68-29.13-11.68-48.6c-0.13-15.76,3.9-31.28,11.68-45c8.01-13.96,19.8-25.39,34-32.97 c14.88-8.24,32.86-12.36,53.93-12.36c1.14,0,2.63,0.05,4.46,0.17s4.01,0.29,6.53,0.51v-67.66c0-1.6,0.69-2.41,2.06-2.41h43.28 c0.99-0.14,1.92,0.55,2.06,1.55c0.02,0.17,0.02,0.34,0,0.51v203c0,3.9,0.17,8.13,0.51,12.71c0.35,4.58,0.63,8.7,0.86,12.36 C437.55,347.29,436.73,348.66,435.4,349.27z M375.98,224.93c-8.33-0.08-16.57,1.8-24.04,5.49c-7.28,3.62-13.49,9.07-18.03,15.8 c-4.7,6.87-7.05,15.92-7.05,27.14c-0.16,7.49,1.06,14.94,3.61,21.98c2.08,5.68,5.36,10.83,9.62,15.11 c4.08,3.95,9.01,6.88,14.42,8.59c5.72,1.85,11.69,2.78,17.69,2.75c3.21,0,6.18-0.12,8.93-0.34c2.56-0.2,5.1-0.66,7.56-1.38 V226.3c-1.86-0.5-3.75-0.84-5.67-1.03C380.68,225.04,378.33,224.92,375.98,224.93z" />
    </symbol>
    <symbol id="wordpress-2" viewBox="0 0 512.599 512.599">
        <title>wordpress-2</title>
        <path
            d="m457.21 512.599h-401.821c-30.59 0-55.389-24.799-55.389-55.389v-401.821c0-30.59 24.799-55.389 55.389-55.389h401.82c30.591 0 55.389 24.799 55.389 55.389v401.82c.001 30.591-24.798 55.39-55.388 55.39z" />
        <g id="W_Mark_1_" fill="#fff">
            <path
                d="m256.299 60.299c-108.25 0-196 87.75-196 196s87.75 196 196 196 196-87.75 196-196-87.75-196-196-196zm152.78 299c-6.59 9.76-14.16 18.94-22.5 27.28s-17.52 15.91-27.28 22.5c-9.85 6.66-20.37 12.37-31.29 16.99-22.71 9.6-46.83 14.47-71.71 14.47s-49-4.87-71.71-14.47c-10.92-4.62-21.44-10.33-31.29-16.99-9.76-6.59-18.94-14.16-27.28-22.5s-15.91-17.52-22.5-27.28c-6.66-9.85-12.37-20.37-16.99-31.29-9.6-22.71-14.47-46.83-14.47-71.71s4.87-49 14.47-71.71c4.62-10.92 10.33-21.44 16.99-31.29 6.59-9.76 14.16-18.94 22.5-27.28s17.52-15.91 27.28-22.5c9.85-6.66 20.37-12.37 31.29-16.99 22.71-9.6 46.83-14.47 71.71-14.47s49 4.87 71.71 14.47c10.92 4.62 21.44 10.33 31.29 16.99 9.76 6.59 18.94 14.16 27.28 22.5s15.91 17.52 22.5 27.28c6.66 9.85 12.37 20.37 16.99 31.29 9.6 22.71 14.47 46.83 14.47 71.71s-4.87 49-14.47 71.71c-4.62 10.92-10.33 21.44-16.99 31.29z" />
            <path
                d="m399.629 177.939c.7 5.2 1.1 10.78 1.1 16.79 0 16.57-3.11 35.2-12.43 58.5l-49.88 144.24c48.56-28.31 81.21-80.92 81.21-141.18 0-28.39-7.25-55.09-20-78.35zm-90.26 230.18-50.2-137.54-49.01 142.4c14.63 4.3 30.11 6.65 46.14 6.65 19.02 0 37.27-3.28 54.24-9.26-.43-.7-.84-1.44-1.17-2.25zm27.68-243.42c0-15.01 11.39-28.98 27.43-28.98.73 0 1.41.08 2.12.13-29.06-26.63-67.78-42.88-110.3-42.88-57.06 0-107.26 29.28-136.47 73.61 3.84.12 7.45.2 10.51.2 17.08 0 43.53-2.08 43.53-2.08 8.8-.51 9.85 12.42 1.05 13.46 0 0-8.85 1.04-18.69 1.56l59.47 176.92 35.75-107.2-25.44-69.72c-8.8-.52-17.13-1.56-17.13-1.56-8.81-.52-7.78-13.97 1.03-13.46 0 0 26.97 2.08 43.02 2.08 17.08 0 43.53-2.08 43.53-2.08 8.81-.51 9.84 12.42 1.04 13.46 0 0-8.86 1.04-18.69 1.56l59.03 175.57 16.85-53.39c7.49-23.34 11.87-39.87 11.87-53.84 0-20.2-7.25-34.17-13.46-45.05-8.28-13.46-16.05-24.85-16.05-38.31zm-229.94 25.12c-9.06 20.31-14.14 42.79-14.14 66.47 0 64.65 37.56 120.52 92.05 147z" />
        </g>
    </symbol>
    <symbol id="wordpress-3" viewBox="0 0 512 512">
        <title>wordpress-3</title>
        <circle cx="256" cy="256" r="256" />
        <g id="W_Mark_2_" fill="#fff">
            <path
                d="m256 71.76c24.587.001 49.061 4.893 71.711 14.474 43.381 18.349 79.523 54.239 98.056 98.055 9.604 22.706 14.474 46.833 14.474 71.711 0 47.998-20.024 96.34-53.963 130.278-34.319 34.317-81.735 53.962-130.278 53.962-24.877 0-49.004-4.87-71.711-14.474-43.352-18.336-79.537-54.273-98.056-98.055-23.917-56.546-17.349-123.892 16.984-174.713 19.619-29.041 48.374-52.935 81.071-66.764 22.628-9.571 47.151-14.474 71.712-14.474m0-11.76c-108.248 0-196 87.752-196 196s87.752 196 196 196 196-87.752 196-196-87.752-196-196-196z" />
            <path
                d="m92.667 255.994c0 64.648 37.567 120.521 92.057 146.993l-77.914-213.464c-9.063 20.312-14.143 42.791-14.143 66.471zm273.596-8.238c0-20.192-7.253-34.168-13.465-45.044-8.28-13.46-16.044-24.848-16.044-38.308 0-15.011 11.384-28.987 27.428-28.987.725 0 1.411.087 2.115.132-29.059-26.626-67.775-42.882-110.297-42.882-57.065 0-107.264 29.28-136.47 73.616 3.835.121 7.449.198 10.512.198 17.08 0 43.532-2.076 43.532-2.076 8.8-.516 9.841 12.42 1.044 13.46 0 0-8.851 1.036-18.692 1.552l59.476 176.919 35.749-107.198-25.446-69.721c-8.8-.516-17.131-1.552-17.131-1.552-8.804-.52-7.773-13.975 1.036-13.46 0 0 26.968 2.076 43.016 2.076 17.08 0 43.537-2.076 43.537-2.076 8.805-.516 9.84 12.42 1.04 13.46 0 0-8.86 1.036-18.692 1.552l59.027 175.572 16.85-53.391c7.487-23.334 11.875-39.866 11.875-53.842zm-107.393 22.525-49.013 142.397c14.637 4.306 30.113 6.655 46.144 6.655 19.02 0 37.267-3.283 54.243-9.26-.437-.699-.84-1.441-1.172-2.251zm140.46-92.642c.701 5.202 1.098 10.782 1.098 16.794 0 16.568-3.104 35.2-12.424 58.5l-49.885 144.235c48.559-28.31 81.214-80.918 81.214-141.174 0-28.397-7.256-55.094-20.003-78.355z" />
        </g>
    </symbol>
    <symbol id="xd-2" viewBox="0 0 512 512">
        <title>xd-2</title>
        <circle cx="256" cy="256" r="256" />
        <g>
            <g id="Layer_2_8_">
                <g id="Surfaces_9_2">
                    <g id="UI_UX_Surface_1">
                        <g id="Outline_no_shadow_9_1">
                            <path
                                d="m153.709 101.1h204.533c30.973 0 56.081 25.109 56.081 56.082v196.615c0 30.973-25.109 56.082-56.081 56.082h-204.533c-30.973 0-56.081-25.109-56.081-56.082v-196.615c-.001-30.973 25.108-56.082 56.081-56.082z"
                                fill="#fff" />
                        </g>
                    </g>
                </g>
                <g id="Outlined_Mnemonics_Logos_8_1">
                    <g id="Xd1">
                        <path
                            d="m203.99 266.859-27.193 50.563c-.568 1.275-1.561 1.406-2.975 1.406h-29.105c-.564 0-.883.224-.956-.344-.08-.518.034-1.047.319-1.487l41.003-67.347-39.941-67.559c-.425-.564-.495-1.024-.213-1.381.318-.368.79-.564 1.275-.531h29.955c.653-.036 1.306.073 1.912.319.508.288.944.687 1.275 1.168l26.769 50.563h.213l26.344-50.351c.163-.524.455-.999.85-1.381.524-.266 1.114-.377 1.7-.319h27.831c.653-.161 1.313.237 1.474.89.113.456-.048.937-.411 1.234l-39.516 65.222 42.278 69.259c.271.485.347 1.054.213 1.593-.143.498-.637.184-1.487.324h-30.168c-2.125 0-3.612-.075-4.462-1.492z" />
                        <path
                            d="m325.084 321.459c-9.779.149-19.467-1.883-28.362-5.949-8.286-3.835-15.213-10.095-19.864-17.952-4.817-8-7.225-18.021-7.223-30.062-.08-9.751 2.412-19.35 7.223-27.831 4.957-8.639 12.246-15.707 21.033-20.395 9.205-5.099 20.323-7.648 33.354-7.648.707 0 1.627.035 2.762.106 1.132.073 2.478.179 4.037.319v-41.853c0-.989.425-1.487 1.275-1.487h26.768c.616-.088 1.187.34 1.275.956.015.105.015.213 0 .318v125.559c0 2.41.106 5.03.318 7.861.213 2.835.39 5.384.531 7.648.053.903-.453 1.747-1.275 2.125-6.906 2.88-14.099 5.017-21.457 6.373-6.728 1.242-13.553 1.881-20.395 1.912zm12.959-26.344v-57.999c-1.148-.311-2.321-.524-3.505-.637-1.447-.146-2.901-.216-4.355-.212-10.223.028-20.237 4.584-26.025 13.172-7.46 11.068-5.881 30.351 3.824 39.728 6.691 6.465 16.517 7.537 25.388 6.799 1.583-.12 3.149-.405 4.673-.851z" />
                    </g>
                </g>
            </g>
        </g>
    </symbol>
    <symbol id="wordpress-4" viewBox="0 0 512 512">
        <title>wordpress-4</title>
        <path
            d="m256 15.36c66.681 0 131.072 29.479 176.795 77.516 41.234 43.321 63.845 103.596 63.845 163.124 0 62.322-26.218 125.895-70.482 170.158-44.788 44.787-106.867 70.482-170.158 70.482-32.493 0-64.006-6.36-93.663-18.904-56.649-23.96-104.016-71.195-128.073-128.073-12.544-29.657-18.904-61.17-18.904-93.663s6.36-64.006 18.904-93.663c24.051-56.864 70.936-103.906 128.072-128.072 29.658-12.545 61.171-18.905 93.664-18.905m0-15.36c-141.385 0-256 114.615-256 256s114.615 256 256 256 256-114.615 256-256-114.615-256-256-256z" />
        <path
            d="m42.667 255.992c0 84.438 49.068 157.415 120.238 191.991l-101.766-278.81c-11.837 26.529-18.472 55.89-18.472 86.819z" />
        <path
            d="m400.018 245.233c0-26.373-9.473-44.627-17.587-58.833-10.815-17.581-20.956-32.455-20.956-50.035 0-19.607 14.869-37.861 35.825-37.861.947 0 1.843.114 2.762.173-37.955-34.777-88.523-56.01-144.062-56.01-74.534 0-140.1 38.243-178.246 96.152 5.009.159 9.729.259 13.73.259 22.309 0 56.858-2.712 56.858-2.712 11.494-.673 12.853 16.222 1.364 17.58 0 0-11.561 1.354-24.414 2.027l77.683 231.078 46.692-140.014-33.235-91.064c-11.494-.673-22.376-2.027-22.376-2.027-11.5-.679-10.152-18.254 1.353-17.58 0 0 35.223 2.712 56.184 2.712 22.309 0 56.864-2.712 56.864-2.712 11.5-.673 12.853 16.222 1.359 17.58 0 0-11.572 1.354-24.414 2.027l77.098 229.318 22.008-69.736c9.778-30.476 15.51-52.068 15.51-70.322z" />
        <path
            d="m259.748 274.652-64.018 185.988c19.118 5.625 39.331 8.693 60.27 8.693 24.843 0 48.675-4.288 70.847-12.095-.571-.913-1.097-1.882-1.531-2.94z" />
        <path
            d="m443.207 153.65c.916 6.794 1.434 14.083 1.434 21.935 0 21.64-4.055 45.975-16.228 76.408l-65.156 188.389c63.424-36.976 106.076-105.688 106.076-184.39 0-37.09-9.478-71.959-26.126-102.342z" />
    </symbol>
    <symbol id="sass" viewBox="0 0 512 512">
        <title>sass</title>
        <path style="fill:#F2F2F2;"
            d="M512,256c0,7.91-0.355,15.726-1.066,23.448c-0.543,6.113-1.317,12.152-2.299,18.119 C488.782,419.182,383.227,512,256,512c-64.805,0-123.977-24.074-169.075-63.781c-16.666-14.66-31.41-31.462-43.802-49.977 C15.882,357.564,0,308.632,0,256C0,114.615,114.615,0,256,0S512,114.615,512,256z" />
        <path style="fill:#CD6699;"
            d="M446.767,284.975c-7.764,2.936-7.45,2.988-11.557-4.493c-5.245-9.529-8.035-19.55-8.276-30.448 c-0.199-9.352,2.361-18.045,5.58-26.572c2.57-6.781-0.773-9.174-6.646-9.791c-4.274-0.439-8.683-0.397-12.967,0.042 c-11.139,1.139-12.236,2.1-15.193,12.915c-1.755,6.416-3.156,12.884-6.071,18.975c-7.189,14.994-15.36,29.435-23.74,43.771 c-1.505,2.581-2.748,5.36-4.869,7.565c-6.071-9.091-8.359-19.132-8.871-29.665c-0.512-10.397,2.675-20.062,6.175-29.623 c1.181-3.218,0.199-5.214-2.581-6.604c-1.233-0.616-2.612-1.191-3.96-1.296c-7.147-0.564-14.273-0.481-21.243,1.473 c-3.135,0.867-5.183,2.623-5.883,6.144c-1.358,6.886-3.479,13.573-6.343,20.01c-7.941,17.826-15.83,35.683-23.761,53.52 c-6.896,15.496-13.688,31.033-21.859,45.913c-0.575,1.055-1.055,2.884-2.497,2.518c-1.463-0.366-0.951-2.163-1.014-3.396 c-0.47-8.777,1.923-17.147,3.96-25.527c3.229-13.26,6.76-26.457,10.188-39.675c0.982-3.793-0.669-6.343-3.814-8.161 c-4.524-2.602-9.028-2.727-13.928,0.919c0.669-5.392,0.961-10.125,0.731-14.858c-0.522-10.553-5.413-17.418-13.928-19.007 c-6.217-1.16-12.1,0.648-17.659,3.281c-12.957,6.134-23.374,15.381-32.131,26.603c-1.024,1.306-2.058,2.508-3.542,3.312 c-16.436,8.955-32.862,17.91-49.256,26.948c-1.797,1.003-2.957,0.721-4.253-0.669c-8.255-8.85-17.836-16.154-27.324-23.562 c-13.26-10.365-26.979-20.187-38.421-32.684c-6.687-7.314-12.267-15.329-15.057-25.004c-4.556-15.82-1.149-30.553,6.437-44.554 c8.976-16.562,22.288-29.351,36.968-40.741c23.312-18.077,48.88-32.434,75.828-44.251c30.177-13.218,61.482-21.734,94.824-20.449 c13.208,0.512,26.028,2.8,37.794,9.268c8.328,4.577,13.845,11.191,15.402,20.898c1.829,11.368-0.899,21.87-5.945,31.828 c-11.274,22.246-29.194,38.003-50.375,50.343c-17.638,10.271-36.665,16.792-56.801,20.208c-11.128,1.891-22.298,3.03-33.489,1.327 c-12.842-1.954-24.712-6.248-33.499-16.593c-1.014-1.191-2.299-2.017-4.023-1.181c-1.766,0.857-1.63,2.424-1.463,3.929 c0.125,1.034,0.408,2.079,0.773,3.062c2.351,6.343,6.75,11.128,11.901,15.308c13.396,10.898,29.268,14.096,45.934,14.42 c16.311,0.324,32.371-1.745,48.264-5.548c35.85-8.568,65.881-26.154,87.803-56.289c13.103-18.014,21.4-37.867,20.668-60.583 c-0.47-14.409-5.319-27.136-15.82-37.48c-12.487-12.278-27.982-18.453-44.607-22.162c-18.516-4.117-37.219-4.702-56.111-2.445 c-16.436,1.964-32.496,5.329-48.128,10.71c-23.918,8.244-47.02,18.369-69.13,30.678c-22.653,12.601-44.001,27.032-62.725,45.108 c-16.572,15.997-30.814,33.646-38.839,55.557c-3.427,9.383-5.893,19.028-3.594,29.174c2.947,13.061,9.383,24.367,17.847,34.565 c12.8,15.444,28.505,27.606,44.701,39.225c13.009,9.341,26.624,17.847,39.121,27.888c3.542,2.842,3.521,2.842-0.648,5.026 c-4.869,2.539-9.791,4.984-14.576,7.69C91.951,342.695,73.3,354.523,58.075,370.96c-7.492,8.098-12.581,17.189-14.952,27.282 c12.392,18.516,27.136,35.318,43.802,49.977c28.432-2.215,50.197-17.011,66.278-41.482c7.764-11.818,11.4-25.192,12.769-39.299 c1.202-12.434-0.063-24.472-3.72-36.342c-0.637-2.09-3.009-4.169-2.079-6.008c0.867-1.693,3.48-2.55,5.402-3.657 c7.753-4.504,15.527-8.944,23.51-13.531c0.345,1.714-0.324,2.717-0.616,3.803c-4.577,16.792-7.764,33.719-4.284,51.169 c2.163,10.867,5.768,21.096,12.622,30.093c7.053,9.258,22.8,8.202,29.194-0.251c6.071-8.025,10.094-17.074,14.284-26.081 c2.299-4.932,4.409-9.947,6.604-14.932c-0.408,5.998-0.387,11.849-0.167,17.68c0.219,5.747,1.139,11.421,4.127,16.499 c3.594,6.102,10.355,7.879,16.635,4.618c6.625-3.438,11.139-9.101,14.649-15.245c15.057-26.425,29.027-53.415,40.594-81.596 c2.466-5.987,4.995-11.964,7.785-18.62c0.428,2.184,0.711,3.521,0.972,4.859c2.57,13.427,7.147,26.133,13.772,38.076 c1.421,2.56,1.264,4.326-0.533,6.781c-6.102,8.307-12.79,16.123-19.383,24.022c-5.538,6.646-11.463,12.999-16.144,20.313 c-4.2,6.583-1.787,13.322,5.204,14.817c2.152,0.46,4.42,0.596,6.625,0.564c12.215-0.146,23.489-3.793,33.991-9.77 c14.137-8.056,22.518-19.864,22.131-36.676c-0.178-7.649-2.247-14.994-5.329-22.006c-0.679-1.557-0.711-2.685,0.303-4.148 c9.791-14.023,18.442-28.724,26.394-43.854c1.411-2.664,2.403-5.622,4.681-8.223c0.303,1.055,0.543,1.714,0.679,2.393 c2.529,12.539,5.935,24.795,12.33,35.986c1.755,3.062,0.878,4.618-1.546,6.666c-8.349,7.095-15.391,15.37-20.919,24.848 c-4.305,7.377-7.252,15.255-7.22,23.897c0.031,9.613,7.387,15.276,16.76,13.019c9.77-2.341,18.829-6.322,26.958-12.267 c17.711-12.967,22.904-26.645,17.356-45.735c-2.173-7.513-2.132-7.387,5.402-9.665c16.478-4.974,33.196-5.183,49.998-2.445 c1.902,0.313,3.783,0.669,5.642,1.076c0.982-5.966,1.755-12.006,2.299-18.119C489.441,274.192,467.978,276.919,446.767,284.975z M98.586,419.401c-4.775,1.693-9.738,2.414-14.817,2.017c-6.322-0.502-10.334-4.963-10.742-11.672 c-0.46-7.732,1.829-14.712,5.214-21.504c6.154-12.33,16.488-20.699,27.032-28.912c10.25-7.993,21.264-14.817,32.402-21.452 c3.375-2.006,3.427-1.985,4.2,2.038c1.003,5.162,1.902,10.334,1.567,15.026C144.321,383.08,123.883,410.446,98.586,419.401z M251.956,277.514c-1.776,11.86-5.653,23.155-9.78,34.314c-5.622,15.235-11.097,30.542-18.171,45.192 c-1.62,3.375-3.323,6.729-5.945,9.477c-2.476,2.602-4.671,2.299-6.384-0.878c-3.344-6.207-2.926-13.113-3.469-18.129 c0.157-25.161,8.6-45.725,22.507-64.209c3.887-5.151,8.85-9.341,15.423-11.024C250.598,271.12,252.656,272.917,251.956,277.514z M349.341,352.005c-4.765,8.234-11.63,14.221-20.052,18.484c-0.899,0.449-2.058,1.243-2.873,0.188 c-0.773-0.993,0.47-1.651,1.034-2.278c8.37-9.143,16.635-18.359,24.085-28.275c0.115-0.157,0.397-0.178,1.034-0.449 C352.496,344.263,351.493,348.296,349.341,352.005z M407.134,351.65c-1.243,0.585-2.685,1.682-3.897,0.742 c-1.337-1.034-0.805-2.863-0.397-4.263c1.902-6.384,4.462-12.497,7.993-18.192c2.967-4.796,6.646-8.986,10.689-12.894 c1.63-1.567,2.361-1.379,2.915,0.878c0.575,2.309,0.627,4.618,0.669,6.969C425.002,337.753,418.471,346.311,407.134,351.65z" />
    </symbol>
    <symbol id="sass-1" viewBox="0 0 512 512">
        <title>sass-1</title>
        <path clip-rule="evenodd"
            d="m256.001 0c141.384 0 255.999 114.616 255.999 256 0 141.385-114.615 256-255.999 256-141.385 0-256.001-114.615-256.001-256 0-141.384 114.616-256 256.001-256z"
            fill="#c69" fill-rule="evenodd" />
        <g>
            <path
                d="m416.581 109.572c-11.593-45.467-86.981-60.414-158.332-35.065-42.462 15.086-88.431 38.762-121.483 69.678-39.299 36.758-45.566 68.752-42.983 82.12 9.112 47.171 73.746 78.004 100.315 100.88v.139c-7.835 3.856-65.177 32.876-78.597 62.545-14.16 31.299 2.254 53.759 13.121 56.782 33.669 9.368 68.219-7.482 86.787-35.176 17.917-26.727 16.426-61.241 8.639-78.408 10.741-2.834 23.264-4.104 39.178-2.245 44.907 5.245 53.718 33.285 52.033 45.019-1.684 11.736-11.103 18.188-14.253 20.135-3.149 1.949-4.111 2.624-3.846 4.072.382 2.105 1.84 2.027 4.525 1.572 3.697-.623 23.582-9.546 24.431-31.207 1.083-27.503-25.273-58.266-71.939-57.463-19.219.332-31.304 2.16-40.034 5.408-.646-.735-1.302-1.466-1.981-2.191-28.85-30.781-82.184-52.554-79.922-93.934.823-15.044 6.052-54.657 102.48-102.707 78.992-39.361 142.229-28.53 153.157-4.525 15.611 34.295-33.797 98.037-115.829 107.232-31.254 3.504-47.711-8.61-51.805-13.121-4.31-4.75-4.952-4.964-6.561-4.073-2.621 1.452-.96 5.645 0 8.144 2.45 6.374 12.5 17.678 29.636 23.301 15.074 4.947 51.769 7.664 96.148-9.501 49.702-19.225 88.515-72.707 77.115-117.411zm-211.456 231.703c3.724 13.777 3.316 26.625-.532 38.26-3.06 9.254-8.322 17.645-14.89 24.811-14.874 16.227-35.656 22.362-44.567 17.193-9.623-5.578-4.803-28.457 12.443-46.686 18.552-19.612 45.245-32.222 45.245-32.222l-.04-.08c.768-.414 1.549-.84 2.341-1.276z"
                fill="#fff" />
        </g>
    </symbol>
    <symbol id="sass-2" viewBox="0 0 512 512">
        <title>sass-2</title>
        <path style="fill-rule:evenodd;clip-rule:evenodd;"
            d="M202.82,342.63l-0.04-0.08c0.77-0.41,1.55-0.84,2.35-1.27 c3.72,13.77,3.31,26.62-0.54,38.26c-0.42,1.29-0.89,2.57-1.41,3.83c-0.51,1.26-1.06,2.51-1.65,3.74 c-2.97,6.15-6.95,11.92-11.83,17.24c-14.87,16.22-35.65,22.36-44.56,17.19c-9.63-5.58-4.81-28.46,12.44-46.69 C176.13,355.24,202.82,342.63,202.82,342.63z" />
        <path style="fill-rule:evenodd;clip-rule:evenodd;"
            d="M256,0C114.62,0,0,114.62,0,256s114.62,256,256,256s256-114.62,256-256 S397.38,0,256,0z M339.47,226.98c-44.38,17.17-81.08,14.45-96.15,9.51c-17.14-5.63-27.19-16.93-29.64-23.31 c-0.96-2.49-2.62-6.69,0-8.14c1.61-0.89,2.25-0.68,6.56,4.07c4.1,4.51,20.55,16.63,51.81,13.12 c82.03-9.19,131.44-72.93,115.83-107.23c-10.93-24-74.17-34.84-153.16,4.53c-96.43,48.05-101.66,87.66-102.48,102.7 c-2.26,41.38,51.07,63.16,79.92,93.94c0.68,0.72,1.34,1.45,1.98,2.19c8.73-3.25,20.82-5.08,40.04-5.41 c46.66-0.8,73.02,29.96,71.94,57.46c-0.85,21.66-20.74,30.59-24.43,31.21c-2.69,0.46-4.15,0.53-4.53-1.57 c-0.26-1.45,0.7-2.12,3.85-4.07c3.15-1.95,12.57-8.4,14.25-20.14c1.68-11.73-7.13-39.77-52.03-45.02 c-15.92-1.86-28.44-0.59-39.18,2.25c7.78,17.16,9.28,51.68-8.64,78.4c-18.57,27.7-53.12,44.55-86.79,35.18 c-10.87-3.02-27.28-25.48-13.12-56.78c13.42-29.67,70.76-58.69,78.6-62.55v-0.13c-26.57-22.88-91.21-53.71-100.32-100.88 c-2.58-13.37,3.69-45.37,42.99-82.12c33.05-30.92,79.02-54.6,121.48-69.68c71.35-25.35,146.74-10.4,158.33,35.06 C427.98,154.28,389.17,207.76,339.47,226.98z" />
    </symbol>
    <symbol id="sass-3" viewBox="0 0 512 512">
        <title>sass-3</title>
        <path
            d="m456.676 512h-401.352c-30.554 0-55.324-24.77-55.324-55.324v-401.352c0-30.554 24.77-55.324 55.324-55.324h401.35c30.555 0 55.324 24.77 55.324 55.324v401.35c.002 30.556-24.768 55.326-55.322 55.326z" />
        <path clip-rule="evenodd"
            d="m256.299 59.939c108.281 0 196.061 87.78 196.061 196.061s-87.779 196.061-196.061 196.061-196.06-87.78-196.06-196.061 87.779-196.061 196.06-196.061"
            fill="#fff" fill-rule="evenodd" />
        <path
            d="m379.281 143.857c-8.878-34.821-66.615-46.269-121.26-26.855-32.52 11.553-67.726 29.686-93.039 53.364-30.098 28.151-34.897 52.654-32.919 62.892 6.979 36.127 56.479 59.74 76.827 77.261v.106c-6 2.954-49.917 25.179-60.195 47.901-10.844 23.971 1.727 41.172 10.049 43.487 25.786 7.175 52.246-5.73 66.467-26.94 13.722-20.469 12.579-46.902 6.616-60.05 8.225-2.17 17.817-3.142 30.005-1.719 34.393 4.016 41.141 25.492 39.85 34.478-1.289 8.988-8.503 13.93-10.915 15.421-2.412 1.493-3.148 2.01-2.946 3.118.293 1.613 1.409 1.553 3.466 1.205 2.831-.477 18.06-7.31 18.71-23.9.83-21.063-19.355-44.624-55.096-44.01-14.719.255-23.974 1.655-30.66 4.142-.494-.563-.997-1.123-1.517-1.678-22.095-23.573-62.941-40.249-61.209-71.94.63-11.522 4.636-41.86 78.486-78.66 60.497-30.146 108.928-21.849 117.297-3.465 11.956 26.265-25.883 75.083-88.709 82.125-23.936 2.683-36.54-6.594-39.676-10.049-3.3-3.637-3.792-3.802-5.025-3.118-2.007 1.112-.734 4.323 0 6.238 1.877 4.881 9.574 13.538 22.697 17.845 11.544 3.789 39.648 5.869 73.636-7.276 38.067-14.726 67.791-55.686 59.06-89.923m-161.945 177.452c2.852 10.552 2.539 20.391-.408 29.302-.327.99-.687 1.969-1.079 2.937-.392.966-.815 1.922-1.27 2.865-2.272 4.713-5.322 9.127-9.055 13.201-11.392 12.427-27.308 17.127-34.132 13.168-7.369-4.273-3.679-21.795 9.529-35.755 14.208-15.02 34.652-24.678 34.652-24.678l-.031-.061c.589-.319 1.187-.645 1.794-.979" />
    </symbol>
    <symbol id="html-5-1" viewBox="0 0 512 512">
        <title>html-5-1</title>
        <path style="fill:#F2F2F2;"
            d="M512,256c0,82.317-38.86,155.564-99.234,202.397C369.455,492.001,315.068,512,256,512 c-58.535,0-112.473-19.644-155.596-52.705C39.361,412.515,0,338.85,0,256C0,114.615,114.615,0,256,0S512,114.615,512,256z" />
        <path style="fill:#E64C18;"
            d="M441.992,119.474l-29.226,338.923C369.455,492.001,315.068,512,256,512 c-58.535,0-112.473-19.644-155.596-52.705L71.105,119.474H441.992z" />
        <polygon style="fill:#F36518;"
            points="256.546,151.249 256.546,504.167 378.46,469.75 405.655,151.249 " />
        <polygon style="fill:#FFFFFF;"
            points="140.903,195.528 152.858,337.091 311.761,337.091 306.562,395.568 256.549,409.112 204.46,394.52 203.152,358.061 154.631,358.061 160.705,429.941 256.549,457.028 352.392,429.941 364.27,289.295 196.928,289.295 192.775,243.456 192.774,243.454 368.226,242.535 372.194,195.528 " />
        <polygon
            points="151.159,16.796 151.159,41.117 127.921,41.117 127.921,16.796 106.303,16.796 106.303,86.513 127.921,86.513 127.921,63.815 151.159,63.815 151.159,86.513 172.777,86.513 172.777,16.796 " />
        <polygon
            points="249.521,16.796 183.045,16.796 183.045,41.117 204.663,41.117 204.663,87.055 227.903,87.055 227.903,41.117 249.521,41.117 " />
        <polygon
            points="373.284,64.895 373.284,17.337 350.044,17.337 350.044,64.895 350.044,87.055 373.284,87.055 406.79,87.055 406.79,64.895 " />
        <polygon
            points="314.914,17.337 298.702,42.197 282.488,17.337 259.249,17.337 259.249,87.055 282.488,87.055 282.488,52.465 298.702,77.327 314.914,52.465 314.914,87.055 338.154,87.055 338.154,17.337 " />
    </symbol>
    <symbol id="css" viewBox="0 0 512 512">
        <title>css</title>
        <path style="fill:#F2F2F2;"
            d="M512,256c0,82.317-38.86,155.564-99.234,202.397C369.455,492.001,315.068,512,256,512 s-113.455-19.999-156.766-53.603C38.86,411.564,0,338.317,0,256C0,114.615,114.615,0,256,0S512,114.615,512,256z" />
        <path style="fill:#006BC0;"
            d="M441.992,119.474l-29.226,338.923C369.455,492.001,315.068,512,256,512 s-113.455-19.999-156.766-53.603L70.008,119.474H441.992z" />
        <polygon style="fill:#0096DC;"
            points="255.997,151.338 255.997,505.296 378.269,470.777 405.545,151.338 " />
        <polygon style="fill:#FFFFFF;"
            points="364.036,289.787 275.85,289.787 367.999,242.89 371.981,195.746 140.013,195.746 144.072,243.811 237.189,243.811 147.845,288.484 152.002,337.723 152.002,337.723 311.376,337.723 306.152,396.366 255.997,409.95 203.752,395.321 202.446,358.75 153.778,358.75 159.866,430.848 255.997,458.015 352.127,430.848 364.039,289.779 " />
        <g>
            <polygon style="fill:#222123;"
                points="165.352,67.224 165.352,33.787 213.417,33.787 213.417,15.676 147.937,15.676 147.937,85.335 213.417,85.335 213.417,67.224 " />
            <polygon style="fill:#222123;"
                points="241.542,42.93 241.542,34.57 289.347,34.57 289.347,33.787 289.347,15.676 223.866,15.676 223.866,58.864 270.799,58.864 270.799,67.224 223.866,67.224 223.866,85.335 289.347,85.335 289.347,67.224 289.347,42.93 " />
            <polygon style="fill:#222123;"
                points="316.252,42.93 316.252,34.57 364.056,34.57 364.056,33.787 364.056,15.676 298.576,15.676 298.576,58.864 345.509,58.864 345.509,67.224 298.576,67.224 298.576,85.335 364.056,85.335 364.056,67.224 364.056,42.93 " />
        </g>
    </symbol>
    <symbol id="sass-4" viewBox="0 0 512 512">
        <title>sass-4</title>
        <path clip-rule="evenodd"
            d="m256.001 0c141.384 0 255.999 114.616 255.999 256 0 141.385-114.615 256-255.999 256-141.385 0-256.001-114.615-256.001-256 0-141.384 114.616-256 256.001-256z"
            fill-rule="evenodd" />
        <g>
            <path clip-rule="evenodd"
                d="m256 59.71c108.408 0 196.29 87.882 196.29 196.29s-87.882 196.29-196.29 196.29-196.29-87.882-196.29-196.29 87.882-196.29 196.29-196.29z"
                fill="#fff" fill-rule="evenodd" />
            <g>
                <path
                    d="m379.127 143.725c-8.889-34.862-66.693-46.322-121.402-26.886-32.558 11.567-67.805 29.721-93.148 53.426-30.133 28.184-34.938 52.716-32.958 62.966 6.987 36.169 56.545 59.81 76.917 77.351v.106c-6.007 2.957-49.975 25.208-60.265 47.957-10.857 23.999 1.728 41.22 10.061 43.538 25.816 7.183 52.307-5.737 66.545-26.972 13.738-20.493 12.595-46.957 6.624-60.12 8.235-2.173 17.838-3.146 30.04-1.722 34.433 4.022 41.188 25.522 39.897 34.519-1.291 8.999-8.513 13.946-10.928 15.439-2.415 1.495-3.152 2.012-2.949 3.122.293 1.614 1.411 1.555 3.469 1.206 2.835-.478 18.081-7.319 18.733-23.928.831-21.088-19.378-44.676-55.16-44.06-14.737.255-24.003 1.656-30.696 4.147-.495-.564-.998-1.124-1.519-1.68-22.121-23.602-63.015-40.296-61.281-72.024.631-11.535 4.64-41.909 78.578-78.752 60.568-30.181 109.055-21.875 117.434-3.469 11.97 26.296-25.914 75.171-88.813 82.221-23.965 2.686-36.583-6.602-39.722-10.061-3.304-3.642-3.797-3.806-5.031-3.123-2.009 1.113-.736 4.329 0 6.245 1.878 4.887 9.585 13.555 22.724 17.866 11.558 3.793 39.694 5.877 73.722-7.285 38.109-14.742 67.869-55.75 59.128-90.027zm-162.136 177.66c2.855 10.564 2.542 20.415-.408 29.336-.327.991-.688 1.971-1.08 2.939s-.816 1.924-1.271 2.868c-2.275 4.72-5.327 9.138-9.066 13.216-11.405 12.442-27.34 17.146-34.172 13.182-7.378-4.277-3.683-21.819 9.54-35.797 14.225-15.038 34.692-24.706 34.692-24.706l-.031-.062c.59-.315 1.189-.642 1.796-.976z" />
            </g>
        </g>
    </symbol>
    <symbol id="java-script" viewBox="0 0 409.6 409.6">
        <title>java-script</title>
        <g>
            <g>
                <path
                    d="M0,0l34.135,375.465L204.8,409.6l170.665-34.135L409.6,0H0z M343.788,346.998L204.8,374.784L65.812,346.998L37.361,34.135 h334.848L343.788,346.998z" />
            </g>
        </g>
        <g>
            <g>
                <polygon
                    points="153.6,68.265 153.6,294.932 129.183,290.063 126.1,256 91.817,256 97.5,318.536 187.735,336.548 187.735,68.265 " />
            </g>
        </g>
        <g>
            <g>
                <polygon
                    points="331.735,102.4 334.833,68.265 221.865,68.265 221.865,221.865 286.602,221.865 280.402,290.063 221.865,301.752 221.865,336.548 312.1,318.536 323.983,187.735 256,187.735 256,102.4 " />
            </g>
        </g>
    </symbol>
    <symbol id="github" viewBox="0 0 512 512">
        <title>github</title>
        <path style="fill:#F2F2F2;"
            d="M512,256c0,127.969-93.895,234.005-216.555,252.98c-2.769,0.428-5.559,0.815-8.359,1.149 c-9.007,1.097-18.16,1.714-27.429,1.839C258.435,511.99,257.223,512,256,512s-2.435-0.01-3.657-0.031 c-9.268-0.125-18.422-0.742-27.429-1.839c-2.8-0.334-5.59-0.721-8.359-1.149C93.895,490.005,0,383.969,0,256 C0,114.615,114.615,0,256,0S512,114.615,512,256z" />
        <g>
            <path style="fill:#222123;"
                d="M512,256c0,9.644-0.533,19.163-1.578,28.536c-0.115,1.045-0.23,2.1-0.355,3.145 c-0.658,5.308-1.484,10.574-2.456,15.778c-0.188,1.034-0.387,2.058-0.596,3.072c-18.098,90.436-83.832,163.652-169.942,192.355 c-12.978,2.508-17.586-5.465-17.586-12.288c0-8.432,0.293-35.997,0.293-70.249c0-23.886-8.182-39.466-17.356-47.407 c44.335-4.932,90.425-19.122,108.711-71.471c0.366-1.024,0.711-2.069,1.045-3.124c1.024-3.187,1.933-6.51,2.748-9.979 c0.24-1.034,0.481-2.079,0.7-3.145c2.393-11.337,3.689-24.137,3.689-38.599c0-27.941-9.937-50.782-26.352-68.712 c2.664-6.447,11.431-32.486-2.508-67.751c0,0-21.462-6.875-70.332,26.248c-20.459-5.674-42.371-8.516-64.125-8.62 c-21.755,0.104-43.656,2.947-64.084,8.62c-48.912-33.123-70.416-26.248-70.416-26.248c-13.897,35.265-5.13,61.304-2.476,67.751 c-16.374,17.93-26.384,40.772-26.384,68.712c0,14.451,1.296,27.251,3.699,38.588c0.219,1.066,0.449,2.111,0.69,3.145 c0.815,3.469,1.735,6.802,2.759,9.989c0.334,1.055,0.69,2.1,1.045,3.124c18.275,52.255,64.24,66.644,108.45,71.67 c-7.325,6.395-13.96,17.69-16.259,34.241c-14.608,6.541-51.66,17.847-74.491-21.285c0,0-13.542-24.576-39.246-26.384 c0,0-24.984-0.324-1.745,15.559c0,0,16.771,7.879,28.421,37.46c0,0,15.026,45.693,86.246,30.208 c0.115,21.389,0.345,41.556,0.345,47.658c0,6.76-4.692,14.691-17.492,12.319C88.9,470.235,23.092,397.009,4.984,306.531v-0.01 c-0.209-1.014-0.408-2.038-0.585-3.062c-0.982-5.204-1.808-10.47-2.456-15.778c-0.136-1.045-0.251-2.09-0.366-3.145 C0.533,275.163,0,265.644,0,256C0,114.615,114.636,0,256,0C397.375,0,512,114.615,512,256z" />
            <path style="fill:#222123;"
                d="M94.678,363.698c-1.849-0.878-3.856-0.512-4.409,0.794c-0.596,1.275,0.439,3.009,2.299,3.845 c1.829,0.878,3.824,0.502,4.389-0.773C97.604,366.289,96.538,364.534,94.678,363.698z" />
            <path style="fill:#222123;"
                d="M106.6,373.802c-1.682-1.776-3.992-2.309-5.245-1.181c-1.243,1.149-0.93,3.542,0.742,5.319 c1.62,1.787,4.012,2.32,5.235,1.191C108.607,377.981,108.272,375.609,106.6,373.802z" />
            <path style="fill:#222123;"
                d="M117.457,387.709c-1.609-2.257-4.138-3.239-5.716-2.152c-1.609,1.097-1.609,3.824-0.042,6.102 c1.588,2.278,4.148,3.302,5.726,2.205C119.024,392.756,119.024,390.019,117.457,387.709z" />
            <path style="fill:#222123;"
                d="M129.849,401.575c-2.205-2.1-5.214-2.529-6.635-0.982c-1.4,1.546-0.784,4.483,1.452,6.541 c2.194,2.111,5.183,2.529,6.583,0.982C132.744,406.58,132.065,403.634,129.849,401.575z" />
            <path style="fill:#222123;"
                d="M146.139,411.136c-2.926-0.909-5.82,0.042-6.416,2.058c-0.585,2.027,1.306,4.378,4.2,5.256 c2.905,0.846,5.778-0.063,6.405-2.069C150.925,414.344,149.034,412.014,146.139,411.136z" />
            <path style="fill:#222123;"
                d="M165.742,414.187c-3.062,0.052-5.465,1.776-5.465,3.908c0.031,2.079,2.508,3.793,5.569,3.72 c3.041-0.031,5.507-1.787,5.433-3.897C171.28,415.828,168.782,414.124,165.742,414.187z" />
            <path style="fill:#222123;"
                d="M190.777,414.605c-0.387-2.1-3.103-3.333-6.123-2.811c-2.978,0.543-5.13,2.664-4.754,4.775 c0.376,2.038,3.124,3.312,6.102,2.769C189.022,418.774,191.133,416.664,190.777,414.605z" />
        </g>
    </symbol>
    <symbol id="bootstrap" viewBox="0 0 512 512">
        <title>bootstrap</title>
        <path
            d="m320.837 285.783c-8.868-8.031-21.082-11.88-36.978-11.88h-92.444v93.365h92.444c15.895 0 28.277-4.099 36.978-12.382 8.784-8.199 13.218-19.911 13.218-34.97 0-14.808-4.35-26.102-13.218-34.133z" />
        <path
            d="m308.12 225.631c8.366-7.195 12.549-17.401 12.549-30.787 0-15.059-3.765-25.684-11.294-31.791s-18.405-9.202-32.628-9.202h-85.333v82.489h85.333c12.55 0 23.007-3.514 31.373-10.709z" />
        <path
            d="m426.667 0h-341.334c-46.933 0-85.333 38.4-85.333 85.333v341.333c0 46.934 38.4 85.334 85.333 85.334h341.333c46.934 0 85.334-38.4 85.334-85.333v-341.334c0-46.933-38.4-85.333-85.333-85.333zm-46.599 359.488c-4.183 10.206-10.708 18.991-19.66 26.353-8.951 7.362-20.329 13.218-34.3 17.569-13.971 4.35-30.536 6.525-49.778 6.525h-137.203v-298.667h145.15c26.771 0 48.272 6.107 64.418 18.405s24.261 30.787 24.261 55.634c0 15.059-3.681 27.942-11.043 38.651s-17.903 19.075-31.624 24.931v.837c18.405 3.932 32.377 12.633 41.83 26.102 9.453 13.553 14.222 30.452 14.222 50.865.001 11.712-2.09 22.672-6.273 32.795z" />
    </symbol>
    <symbol id="bootstrap-1" viewBox="0 0 512 512">
        <title>bootstrap-1</title>
        <path
            d="M276.75,236.34h-85.34v-82.49h85.34c14.22,0,25.1,3.1,32.63,9.2c7.52,6.11,11.29,16.74,11.29,31.79 c0,13.39-4.18,23.6-12.55,30.79C299.75,232.83,289.3,236.34,276.75,236.34z" />
        <path
            d="M334.05,319.92c0,15.06-4.43,26.77-13.21,34.97c-8.7,8.28-21.09,12.38-36.98,12.38h-92.45V273.9h92.45 c15.89,0,28.11,3.85,36.98,11.88C329.7,293.81,334.05,305.11,334.05,319.92z" />
        <path
            d="M426.67,0H85.33C38.4,0,0,38.4,0,85.33v341.34C0,473.6,38.4,512,85.33,512h341.34c46.93,0,85.33-38.4,85.33-85.33V85.33 C512,38.4,473.6,0,426.67,0z M380.07,359.49c-4.19,10.2-10.71,18.99-19.66,26.35c-8.95,7.36-20.33,13.22-34.3,17.57 c-13.97,4.35-30.54,6.52-49.78,6.52h-137.2V111.27h145.15c26.77,0,48.27,6.11,64.42,18.4c16.14,12.3,24.26,30.79,24.26,55.64 c0,15.06-3.68,27.94-11.05,38.65c-7.36,10.71-17.9,19.07-31.62,24.93v0.84c18.41,3.93,32.38,12.63,41.83,26.1 c9.45,13.55,14.22,30.45,14.22,50.86C386.34,338.41,384.25,349.36,380.07,359.49z" />
    </symbol>
    {{!-- <symbol id="bootstrap-2" viewBox="0 0 512 512">
        <title>bootstrap-2</title>
        <circle cx="256" cy="256" r="256" />
        <g xmlns:cc="http://creativecommons.org/ns#"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:svg="http://www.w3.org/2000/svg"
            inkscape:version="0.48.1 r9760"
            sodipodi:docname="twitter_bootstrap_logo.svg">
            <path
                d="m410 358.667c0 28.233-23.1 51.333-51.333 51.333h-205.334c-28.233 0-51.333-23.1-51.333-51.333v-205.334c0-28.233 23.1-51.333 51.333-51.333h205.333c28.234 0 51.334 23.1 51.334 51.333z"
                fill="#fff" />
            <path
                d="m185.693 168.935h87.317c16.104 0 29.039 3.674 38.752 11.072s14.595 18.52 14.595 33.467c0 9.059-2.214 16.809-6.643 23.251s-10.77 11.475-19.023 14.997v.503c11.072 2.365 19.477 7.599 25.163 15.702 5.687 8.153 8.556 18.319 8.556 30.599 0 7.046-1.258 13.639-3.775 19.728-2.516 6.14-6.442 11.424-11.827 15.853s-12.229 7.952-20.634 10.569-18.369 3.925-29.944 3.925h-82.536v-179.666zm31.455 75.238h51.333c7.549 0 13.84-2.114 18.873-6.442s7.549-10.468 7.549-18.52c0-9.059-2.265-15.45-6.794-19.124s-11.072-5.536-19.628-5.536h-51.333zm0 78.762h55.611c9.562 0 17.01-2.466 22.245-7.448 5.284-4.932 7.952-11.978 7.952-21.037 0-8.908-2.617-15.702-7.952-20.533s-12.682-7.147-22.245-7.147h-55.611z" />
        </g>
    </symbol> --}}
    <symbol id="photoshop" viewBox="0 0 512 512">
        <title>photoshop</title>
        <path
            d="M224.901,191.897c3.481,5.464,5.298,12.009,5.069,18.873c0,9.39-2.13,16.64-6.61,21.98 c-9.888,11.786-27.408,15.14-42.03,15.14h-11.3c-2.56,0-5.34-0.21-8.32-0.42v-71.68c1.49-0.22,4.48-0.43,8.74-0.22 c4.06-0.21,8.96-0.21,14.51-0.21C199.661,175.36,216.444,178.626,224.901,191.897z" />
        <path
            d="M421.33,6.4H90.67C40.53,6.4,0,46.93,0,97.07v317.86c0,50.14,40.53,90.67,90.67,90.67h330.66 c50.14,0,90.67-40.53,90.67-90.67V97.07C512,46.93,471.47,6.4,421.33,6.4z M263.68,254.93c-8.53,11.95-20.48,20.91-34.35,26.03 c-14.5,5.33-30.5,7.25-48,7.25c-5.12,0-8.53,0-10.66-0.21c-2.14-0.21-5.12-0.21-9.18-0.21v68.48c0.22,1.49-0.85,2.77-2.34,2.98 h-41.39c-1.71,0-2.56-0.85-2.56-2.77V136.96c0-1.49,0.64-2.35,2.13-2.35c3.63,0,7.04,0,11.95-0.21 c5.12-0.21,10.45-0.21,16.21-0.43c5.76-0.21,11.95-0.21,18.56-0.42c6.62-0.22,13.02-0.22,19.42-0.22c17.49,0,32,2.14,43.94,6.62 c10.67,3.62,20.48,9.6,28.59,17.49c6.83,6.83,12.16,15.15,15.57,24.32c3.2,8.96,4.91,18.13,4.91,27.73 C276.48,227.84,272.21,242.99,263.68,254.93z M414.93,337.92c-5.97,8.53-14.29,15.15-23.89,18.99 c-10.45,4.48-23.25,6.82-38.61,6.82c-9.82,0-19.42-0.85-29.02-2.77c-7.46-1.28-14.93-3.63-21.76-6.83 c-1.49-0.85-2.56-2.34-2.34-4.05v-37.12c0-0.64,0.21-1.49,0.85-1.92c0.64-0.43,1.28-0.21,1.92,0.21 c8.32,4.91,17.07,8.32,26.45,10.46c8.11,2.13,16.64,3.2,25.18,3.2c8.1,0,13.86-1.07,17.7-2.99c3.42-1.49,5.76-5.12,5.76-8.96 c0-2.99-1.7-5.76-5.12-8.53c-3.41-2.78-10.45-5.98-20.9-10.03c-10.88-3.84-20.91-8.96-30.3-15.36 c-6.61-4.69-12.16-10.88-16.21-18.13c-3.41-6.83-5.12-14.3-4.91-21.76c0-9.18,2.56-17.92,7.26-25.82 c5.33-8.53,13.22-15.36,22.4-19.62c10.02-5.12,22.61-7.47,37.76-7.47c8.74,0,17.7,0.64,26.45,1.92 c6.4,0.85,12.59,2.56,18.35,4.91c0.85,0.21,1.7,1.06,2.13,1.92c0.21,0.85,0.43,1.7,0.43,2.56v34.77c0,0.85-0.43,1.71-1.07,2.13 c-1.92,0.43-2.99,0.43-3.84,0c-6.4-3.41-13.23-5.76-20.48-7.25c-7.89-1.71-15.79-2.77-23.89-2.77 c-4.27-0.22-8.75,0.42-12.8,1.49c-2.78,0.64-5.12,2.13-6.62,4.27c-1.06,1.7-1.7,3.84-1.7,5.76c0,1.92,0.85,3.84,2.13,5.54 c1.92,2.35,4.48,4.27,7.25,5.76c4.91,2.56,10.03,4.91,15.15,7.04c11.52,3.84,22.61,9.18,32.85,15.58 c7.04,4.48,12.8,10.45,16.86,17.7c3.41,6.83,5.12,14.3,4.9,21.98C423.47,319.57,420.48,329.6,414.93,337.92z" />
    </symbol>
    <symbol id="css-3" viewBox="0 0 512 512">
        <title>css-3</title>
        <polygon style="fill:#2196F3;"
            points="32,0 72.8,460.8 256,512 439.136,460.832 480,0 " />
        <polygon style="fill:#FAFAFA;"
            points="392.768,150.688 387.616,208.576 372.064,382.112 256,414.208 255.904,414.24 139.904,382.112 131.808,291.36 188.64,291.36 192.864,338.432 255.936,355.456 255.968,355.424 319.136,338.4 327.744,259.968 129.088,260.512 123.456,206.88 332.512,204.416 336.736,147.008 117.856,147.616 114.176,94.208 256,94.208 397.824,94.208 " />
    </symbol>
    <symbol id="html" viewBox="-30 0 512 512">
        <title>html</title>
        <path
            d="m0 0 31.800781 448.101562 194.398438 63.898438 194.398437-63.898438 31.800782-448.101562zm0 0"
            fill="#ff7816" />
        <path
            d="m452.398438 0-31.800782 448.101562-194.398437 63.898438v-512zm0 0"
            fill="#ff4b00" />
        <path
            d="m367.5 136h-222.300781l5.398437 75h211.503906l-12.902343 181.597656-123 41.101563-123-41.101563-4.199219-60.597656h60l1.199219 16.5 66 21.898438 66-21.898438 5.398437-77.5h-203.097656l-13.800781-195h291zm0 0"
            fill="#ececf1" />
        <g fill="#e2e2e7">
            <path
                d="m362.101562 211-12.902343 181.597656-123 41.101563v-63.300781l66-21.898438 5.398437-77.5h-71.398437v-60zm0 0" />
            <path d="m371.699219 76-4.199219 60h-141.300781v-60zm0 0" />
        </g>
    </symbol>
</svg>
<div class="rlr-logos-slider">
    <div class="rlr-logos-slider__items">
        <div class="slide-track">
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#figma" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#xd" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#html" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#css-3" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#sass-1" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#js" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#bootstrap" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#figma" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#xd" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#html" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#sass-1" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#js" />
                </svg>
            </div>
            <div class="slide">
                <svg class="icon">
                    <use xlink:href="#bootstrap" />
                </svg>
            </div>
        </div>
    </div>
</div>